ion-button {
  float: right;
}

#stock_avality {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

#AvailabilityClose {
  display: none;
}
.example-container {
  height: 70vh;
}
