<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-title class="md-title title">Stock Availability</ion-title>
      </div>
      <div style="margin-right: 21px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<div class="loading-shade" *ngIf="dataSource.loading$ | async">
  <mat-progress-bar
    *ngIf="dataSource.loading$ | async"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<ion-content color="light">
  <ion-card>
    <ion-card-header style="padding: 0px 13px">
      <form [formGroup]="stockAvailabilityForm">
        <ion-row>
          <ion-col
            size="12"
            sizeLg="1.5"
            style="display: flex; align-items: center"
          >
            <ion-card-title class="flex">
              <ion-text color="primary"> Stock Availability </ion-text>
              <!-- Filtar Button -->
            </ion-card-title>
          </ion-col>

          <ion-col sizeMd="6" sizeLg="1.5">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Item Name</mat-label>
              <input
                matInput
                placeholder="Item Name"
                [matAutocomplete]="item_name"
                formControlName="item_name"
                (focusout)="validateInput(f.item_name, filteredItemNameList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #item_name="matAutocomplete"
                [displayWith]="getItemName"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredItemNameList"
                  [value]="option"
                >
                  {{ option.item_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.item_name.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.item_name.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeMd="6" sizeLg="1.5">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Warehouse</mat-label>
              <input
                matInput
                placeholder="Warehouse"
                [matAutocomplete]="warehouse"
                formControlName="warehouse"
                (focusout)="validateInput(f.warehouse, filteredWarehouseList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #warehouse="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredWarehouseList"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.warehouse.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.warehouse.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeMd="6" sizeLg="1.5">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Item Group</mat-label>
              <input
                matInput
                placeholder="Item Group"
                [matAutocomplete]="item_group"
                formControlName="item_group"
                (focusout)="validateInput(f.item_group, filteredItemGroupList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #item_group="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredItemGroupList"
                  [value]="option.item_group_name"
                >
                  {{ option.item_group_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.item_group.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.item_group.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col size="12" sizeMd="6" sizeLg="1.5">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Brand</mat-label>
              <input
                matInput
                placeholder="Brand"
                [matAutocomplete]="item_brand"
                formControlName="item_brand"
                (focusout)="validateInput(f.item_brand, filteredItemBrandList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #item_brand="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredItemBrandList"
                  [value]="option.brand"
                >
                  {{ option.brand }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.item_brand.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.item_brand.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeMd="6" sizeLg="1.5">
            <mat-checkbox
              (change)="setFilter()"
              formControlName="zero_stock"
              style="margin-top: 15px"
            >
              Show Zero Stock
            </mat-checkbox>
          </ion-col>
          <ion-col style="margin-top: 5px" size="12" sizeLg="3" sizeMd="6">
            <!-- <ion-button
              class="tooltip"
              data-tooltip="Sync"
              (click)="setFilter()"
              fill="outline"
            >
              <ion-icon slot="icon-only" name="refresh"></ion-icon> &nbsp;
              <span class="sm_hide_text">Sync</span>
            </ion-button> -->

            <ion-button
              class="tooltip"
              data-tooltip="Clear"
              (click)="clearFilters()"
              fill="outline"
            >
              <ion-icon name="close-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Clear</span>
            </ion-button>

            <ion-button
              class="tooltip"
              data-tooltip="Download"
              [disabled]="!dataSource.length"
              (click)="downloadServiceInvoices()"
              fill="outline"
            >
              <ion-icon name="cloud-download-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Download CSV</span>
            </ion-button>
            <ion-button
              data-tooltip="Search"
              class="tooltip"
              fill="outline"
              (click)="setFilter()"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <div class="example-container mat-elevation-z8" id="AvailabilityTable">
        <form [formGroup]="stockAvailabilityForm">
          <ion-grid id="stock_avality" style="padding: 0px 15px"> </ion-grid>
        </form>
        <table mat-table class="full-width" [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="sr_no">
            <mat-header-cell *matHeaderCellDef> SL. </mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index ">
              {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_name">
            <mat-header-cell *matHeaderCellDef> Item Name </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.item.item_name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_code">
            <mat-header-cell *matHeaderCellDef> Item Code </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.item_code }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_group">
            <mat-header-cell *matHeaderCellDef> Item Group </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.item.item_group }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_brand">
            <mat-header-cell *matHeaderCellDef> Item Brand </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.item.brand }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="warehouse">
            <mat-header-cell *matHeaderCellDef> Warehouse </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.warehouse }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actual_qty">
            <mat-header-cell *matHeaderCellDef>
              Actual Quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.stock_availability }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
          </mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </table>
      </div>
      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500, 1000]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
