<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title">Settings</ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 20px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          data-tooltip="Stock Availability"
          target="_new"
          color="red"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card-content class="ion-padding">
    <form [formGroup]="companySettingsForm">
      <ion-card>
        <ion-card-header style="cursor: pointer" (click)="rmaServerTab()">
          <ion-card-title
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              pointer-events: none;
            "
          >
            <ion-text> RMA Server Settings </ion-text>
            <mat-icon id="rmaTabDown">expand_more</mat-icon>
            <mat-icon id="rmaTabUp">expand_less</mat-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-grid class="ion-padding active" id="rmaServerTab">
          <ion-row>
            <ion-col sizeLg="3" sizeMd="5.9">
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Default Company</mat-label>
                <input
                  matInput
                  required
                  placeholder="Default Company"
                  aria-label="Default Company"
                  [matAutocomplete]="autoCompany"
                  (focusout)="validateInput(f.defaultCompany, companies)"
                  formControlName="defaultCompany"
                />
                <mat-autocomplete #autoCompany="matAutocomplete">
                  <mat-option
                    *ngFor="let company of companies"
                    [value]="company.name"
                  >
                    <span>{{company.name}}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.defaultCompany.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.defaultCompany.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>ERPNext Timezone</mat-label>
                <input
                  matInput
                  required
                  placeholder="ERPNext Timezone"
                  aria-label="ERPNext Timezone"
                  (focusout)="validateInput(f.timeZone, timezones)"
                  [matAutocomplete]="autoTZ"
                  formControlName="timeZone"
                />
                <mat-autocomplete #autoTZ="matAutocomplete">
                  <mat-option
                    *ngFor="let timezone of timezones"
                    [value]="timezone"
                  >
                    <span>{{timezone}}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.timeZone.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.timeZone.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Selling Price List</mat-label>
                <input
                  matInput
                  required
                  placeholder="Selling Price List"
                  aria-label="Selling Price List"
                  (focusout)="validateInput(f.sellingPriceList, sellingPriceLists)"
                  [matAutocomplete]="autoSellingPriceList"
                  formControlName="sellingPriceList"
                />
                <mat-autocomplete #autoSellingPriceList="matAutocomplete">
                  <mat-option
                    *ngFor="let priceList of sellingPriceLists"
                    [value]="priceList.name"
                  >
                    <span>{{priceList.name}}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.sellingPriceList.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.sellingPriceList.value}}'</strong> is not
                  allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Debtor Account</mat-label>
                <input
                  matInput
                  placeholder="Debtor Account"
                  aria-label="Debtor Account"
                  [matAutocomplete]="autoDebtorAccount"
                  (focusout)="validateInput(f.debtorAccount, accounts)"
                  formControlName="debtorAccount"
                />
                <mat-autocomplete #autoDebtorAccount="matAutocomplete">
                  <mat-option
                    *ngFor="let account of accounts"
                    [value]="account.name"
                  >
                    <span>{{account.name}}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.debtorAccount.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.debtorAccount.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeLg="3" sizeMd="5.9">
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Transfer Warehouse</mat-label>
                <input
                  matInput
                  placeholder="Transfer Warehouse"
                  aria-label="Transfer Warehouse"
                  (focusout)="validateInput(f.transferWarehouse, warehouses)"
                  [matAutocomplete]="autoTransferWarehouse"
                  formControlName="transferWarehouse"
                />
                <mat-autocomplete #autoTransferWarehouse="matAutocomplete">
                  <mat-option
                    *ngFor="let warehouse of warehouses"
                    [value]="warehouse.name"
                  >
                    <span>{{warehouse.name}}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.transferWarehouse.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.transferWarehouse.value}}'</strong> is not
                  allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>POS Profile</mat-label>
                <input
                  matInput
                  placeholder="POS Profile"
                  aria-label="POS Profile"
                  (focusout)="validateInput(f.posProfile, posProfiles)"
                  [matAutocomplete]="posProfile"
                  formControlName="posProfile"
                />
                <mat-autocomplete #posProfile="matAutocomplete">
                  <mat-option
                    *ngFor="let profile of posProfiles"
                    [value]="profile.name"
                  >
                    <span>{{profile.name}}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.posProfile.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.posProfile.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Authorization Server URL</mat-label>
                <input
                  matInput
                  placeholder="Authorization Server URL"
                  type="text"
                  formControlName="authServerURL"
                  readonly
                />
                <!-- <mat-checkbox style="padding: 2px;" formControlName="validateStock" matSuffix
                  >Validate Stock</mat-checkbox
                > -->
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>App URL</mat-label>
                <input
                  matInput
                  placeholder="App URL"
                  type="text"
                  formControlName="appURL"
                  readonly
                />
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeLg="3" sizeMd="5.9">
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Warranty App URL</mat-label>
                <input
                  matInput
                  placeholder="Warranty App URL"
                  type="text"
                  formControlName="warrantyAppURL"
                  readonly
                />
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>POS App URL</mat-label>
                <input
                  matInput
                  placeholder="POS App URL"
                  type="text"
                  formControlName="posAppURL"
                  readonly
                />
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Frontend Client ID</mat-label>
                <input
                  matInput
                  placeholder="Frontend Client ID"
                  type="text"
                  formControlName="frontendClientId"
                  required
                />
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Backend Client ID</mat-label>
                <input
                  matInput
                  placeholder="Backend Client ID"
                  type="text"
                  formControlName="backendClientId"
                  required
                />
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeLg="3" sizeMd="5.9">
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Service Account</mat-label>
                <input
                  matInput
                  placeholder="Service Account"
                  type="text"
                  formControlName="serviceAccountUser"
                  required
                />
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Service Account Secret</mat-label>
                <input
                  required
                  formControlName="serviceAccountSecret"
                  matInput
                  type="password"
                  placeholder="Service Account Secret"
                  [type]="hideSASecret ? 'password' : 'text'"
                />
                <mat-icon matSuffix (click)="hideSASecret = !hideSASecret">
                  {{hideSASecret ? 'visibility' : 'visibility_off'}}
                </mat-icon>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Service Account API Key</mat-label>
                <input
                  matInput
                  placeholder="Service Account API Key"
                  type="text"
                  formControlName="serviceAccountApiKey"
                  required
                />
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Service Account API Secret</mat-label>
                <input
                  required
                  formControlName="serviceAccountApiSecret"
                  matInput
                  type="password"
                  placeholder="Service Account API Secret"
                  [type]="hideSAApiSecret ? 'password' : 'text'"
                />
                <mat-icon
                  matSuffix
                  (click)="hideSAApiSecret = !hideSAApiSecret"
                >
                  {{hideSAApiSecret ? 'visibility' : 'visibility_off'}}
                </mat-icon>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card>
        <ion-card-header style="cursor: pointer" (click)="printSettingTab()">
          <ion-card-title
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              pointer-events: none;
            "
          >
            <ion-text> Print Settings </ion-text>
            <mat-icon id="printTabDown">expand_more</mat-icon>
            <mat-icon id="printTabUp">expand_less</mat-icon>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content
          class="ion-padding"
          id="printSettingTab"
          style="height: 0; padding: 0"
        >
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col sizeMd="12" sizeLg="6">
                <mat-form-field class="mat-input-wrapper">
                  <mat-label>Header Image</mat-label>
                  <input
                    matInput
                    placeholder="Header Image"
                    type="text"
                    formControlName="headerImageURL"
                  />
                </mat-form-field>
              </ion-col>

              <ion-col sizeMd="12" sizeLg="6">
                <mat-form-field class="mat-input-wrapper">
                  <mat-label>Footer Image</mat-label>
                  <input
                    matInput
                    placeholder="Footer Image"
                    type="text"
                    formControlName="footerImageURL"
                  />
                </mat-form-field>
              </ion-col>
              <ion-col>
                <mat-form-field class="mat-input-wrapper">
                  <mat-label>Header Width</mat-label>
                  <input
                    matInput
                    placeholder="Header Width"
                    type="number"
                    formControlName="headerWidth"
                  />
                </mat-form-field>
              </ion-col>
              <ion-col>
                <mat-form-field class="mat-input-wrapper">
                  <mat-label>Footer Width</mat-label>
                  <input
                    matInput
                    placeholder="Footer Width"
                    type="number"
                    formControlName="footerWidth"
                  />
                </mat-form-field>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-grid class="ion-padding">
          <ion-row style="gap: 5px">
            <ion-col sizeMd="12" sizeLg="4" class="ion-no-padding">
              <!-- <ion-row>
                <ion-col  > -->
              <ion-card-header style="padding-left: 0">
                <ion-card-title>
                  <ion-text> Brand Settings </ion-text>
                </ion-card-title>
              </ion-card-header>
              <mat-form-field class="mat-input-wrapper">
                <input
                  matTooltip="Standard Favicon size : 32x32"
                  matInput
                  placeholder="Favicon Image"
                  type="text"
                  formControlName="faviconURL"
                />
              </mat-form-field>
              <!-- </ion-col>
              </ion-row> -->
            </ion-col>

            <ion-col sizeMd="6" sizeLg="4" class="ion-no-padding">
              <ion-card-header style="padding-left: 0">
                <ion-card-title>
                  <ion-text> Backdated Controls </ion-text>
                </ion-card-title>
              </ion-card-header>
              <mat-form-field class="mat-input-wrapper">
                <input
                  matInput
                  placeholder="No. of days"
                  type="number"
                  formControlName="backdatedInvoicesForDays"
                  [readonly]="!this.f.backdatedInvoices.value"
                />
                <!-- <mat-checkbox matSuffix formControlName="backdatedInvoices">
                      Allow Backdated Controls
                    </mat-checkbox> -->
                <label
                  style="padding-right: 10px"
                  for="backend_control"
                  class="pointer"
                  matSuffix
                >
                  <input
                    type="checkbox"
                    id="backend_control"
                    formControlName="backdatedInvoices"
                  />
                  Allow Backdated Controls
                </label>
              </mat-form-field>
            </ion-col>

            <ion-col sizeLg="2">
              <ion-card-header>
                <ion-card-title>Update Stock</ion-card-title>
              </ion-card-header>
              <div style="margin-left: 20px; margin-top: -14px">
                <div>
                  <!-- <mat-checkbox
                        matSuffix
                        formControlName="updateSalesInvoiceStock"
                      >
                        Sales Invoice
                      </mat-checkbox> -->
                  <label for="salse_Invoice" class="pointer" matSuffix>
                    <input
                      type="checkbox"
                      id="salse_Invoice"
                      formControlName="updateSalesInvoiceStock"
                    />
                    Sales Invoice
                  </label>
                </div>
                <div>
                  <!-- <mat-checkbox
                        matSuffix
                        formControlName="updatePurchaseInvoiceStock"
                      >
                        Purchase Invoice
                      </mat-checkbox> -->
                  <label for="purchase_invoice" class="pointer" matSuffix>
                    <input
                      type="checkbox"
                      id="purchase_invoice"
                      formControlName="updatePurchaseInvoiceStock"
                    />
                    Purchase Invoice
                  </label>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card>
        <ion-grid class="ion-padding">
          <ion-row style="gap: 5px">
            <ion-col sizeMd="12" sizeLg="4" class="ion-no-padding">
              <ion-card-header style="padding-left: 0">
                <ion-card-title>
                  <ion-text> Brand-wise Credit Limit </ion-text>
                </ion-card-title>
              </ion-card-header>
              <label for="brand_wise_credit_limit" class="pointer" matSuffix>
                <input
                  type="checkbox"
                  id="brand_wise_credit_limit"
                  formControlName="brandWiseCreditLimit"
                />
                Enable brand-wise credit limit
              </label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </form>

    <ion-grid class="ion-padding">
      <ion-row>
        <button
          color="light"
          [disabled]="!companySettingsForm.valid"
          (click)="updateSettings()"
          style="
            background-color: #2d62ae;
            padding: 10px 15px;
            border-radius: 5px;
            font-size: 14px;
            color: white;
          "
        >
          Update
        </button>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-header style="cursor: pointer" (click)="territoryTab()">
        <ion-card-title
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            pointer-events: none;
          "
        >
          <ion-text> Branch for Warehouse </ion-text>
          <mat-icon id="territoryTabDown">expand_more</mat-icon>
          <mat-icon id="territoryTabUp">expand_less</mat-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content
        class="sm_example-container"
        id="territoryTab"
        style="height: 0; padding: 0"
      >
        <div class="ion-padding">
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button color="light" (click)="mapTerritory()">
              <ion-icon name="swap-horizontal-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <ion-row>
            <ion-col>
              <mat-form-field class="mat-input-wrapper">
                <input
                  matInput
                  placeholder="Search"
                  [(ngModel)]="search"
                  (keyup.enter)="setFilter()"
                />
                <button mat-button matSuffix (click)="setFilter()">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <!-- <mat-checkbox
                  class="example-margin"
                  (ngModelChange)="setFilter($event)"
                  [(ngModel)]="group"
                >
                  In Group
                </mat-checkbox> -->
              <label for="in_group" class="pointer">
                <input
                  type="checkbox"
                  class="example-margin"
                  (ngModelChange)="setFilter($event)"
                  [(ngModel)]="group"
                  id="in_group"
                />
                In Group
              </label>
            </ion-col>
          </ion-row>
        </div>
        <table
          mat-table
          class="mat-input-wrapper"
          [dataSource]="territoryDataSource"
          matSort
          aria-label="Elements"
        >
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              (click)="setFilter()"
            >
              Name
            </th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>

          <!-- Warehouse Column -->
          <ng-container matColumnDef="warehouse">
            <th mat-header-cell *matHeaderCellDef>Warehouse</th>
            <td mat-cell *matCellDef="let row">
              <mat-chip-list aria-label="Fish selection">
                <mat-chip
                  *ngFor="let warehouse of getChips(row.warehouse)"
                  color="primary"
                  selected
                >
                  {{warehouse}}
                </mat-chip>
              </mat-chip-list>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            (click)="mapTerritory(row.uuid, row.name, row.warehouse)"
            *matRowDef="let row; columns: displayedColumns;"
          ></tr>
        </table>

        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="territoryDataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500]"
        >
        </mat-paginator>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-content>
