.mat-table thead,
mat-header-row,
[mat-header-row],
.mat-table-sticky {
  color: white !important;
  font-size: 15px;
}

#rmaTabDown,
#printTabUp,
#territoryTabUp {
  display: none;
}

#printSettingTab{
  padding: 0 !important;
}