<ion-header>
  <ion-toolbar style="padding-right: 10px">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-title class="md-title title">Serial Search</ion-title>
      </div>
      <div>
        <ion-button
          class="add_button tooltip"
          data-tooltip="Add Warranty Claim"
          [routerLink]="['/warranty/add-warranty-claim']"
        >
          <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
          &nbsp; <span class="sm_hide_text"> Add Warranty Claim </span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header style="padding: 7px 5px">
      <ion-row class="align">
        <ion-col size="12" sizeMd="12" sizeLg="1.2">
          <ion-card-title class="flex sm_flex_button">
            <ion-text class="title_header" color="tertiary">
              Serial Numbers
            </ion-text>
            <!-- Filtar Button -->

            <!-- <button class="filter_button" (click)="serialNumber()">
              <mat-icon class="">sort</mat-icon>
              Filter
            </button> -->
          </ion-card-title>
        </ion-col>
        <ion-col class="ion-no-padding" sizeLg="10.8">
          <form [formGroup]="filtersForm" (ngSubmit)="setFilter()">
            <ion-row id="serialBtn">
              <ion-col sizeLg="2" sizeMd="6">
                <mat-form-field class="full-width">
                  <mat-label>Serial Number</mat-label>
                  <input
                    matInput
                    placeholder="Serial Number"
                    formControlName="serial_no"
                    (keyup.enter)="setFilter()"
                  />
                </mat-form-field>
              </ion-col>
              <ion-col sizeLg="2">
                <mat-form-field style="height: 45px; width: 100%">
                  <mat-label>Select Item</mat-label>
                  <input
                    type="text"
                    placeholder="Select Item"
                    matInput
                    (focusout)="validateInput(f.item_code, filteredItemList)"
                    formControlName="item_code"
                    [matAutocomplete]="item_code"
                  />
                  <mat-autocomplete
                    #item_code="matAutocomplete"
                    autoActiveFirstOption
                    [displayWith]="getOptionText"
                  >
                    <mat-option
                      *ngFor="let option of filteredItemList | async"
                      [value]="option"
                    >
                      {{ option.item_name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="f.item_code.hasError('falseValse')">
                    You should select a value from dropdown only.
                    <strong>'{{f.item_code.value}}'</strong> is not allowed.
                  </mat-error>
                </mat-form-field>
              </ion-col>
              <ion-col size="12" sizeLg="2" sizeMd="6">
                <mat-form-field class="full-width">
                  <mat-label>Warehouse</mat-label>
                  <input
                    matInput
                    placeholder="Warehouse"
                    formControlName="warehouse"
                    (keyup.enter)="setFilter()"
                    [matAutocomplete]="autoWarehouse"
                    required
                  />
                </mat-form-field>
                <mat-autocomplete #autoWarehouse="matAutocomplete">
                  <mat-option
                    *ngFor="let warehouse of warehouseList | async"
                    [value]="warehouse.name"
                  >
                    <span>{{warehouse.name}}</span>
                  </mat-option>
                </mat-autocomplete>
              </ion-col>

              <ion-col sizeLg="1.4">
                <mat-checkbox formControlName="sales_invoice_name"
                  >Sold</mat-checkbox
                >
              </ion-col>
              <ion-col sizeLg="1.3">
                <mat-checkbox formControlName="purchase_invoice_name" checked
                  >Purchased</mat-checkbox
                >
              </ion-col>
              <ion-col
                size="12"
                sizeLg="3.3"
                class="ion-text-right"
                style="
                  display: flex;
                  justify-content: end;
                  flex-wrap: wrap;
                  gap: 12px;
                  padding-left: 2px;
                "
              >
                <ion-button
                  class="tooltip ion-text-right"
                  data-tooltip="Search"
                  fill="outline"
                  (click)="setFilter()"
                >
                  <ion-icon name="search-outline"></ion-icon> &nbsp;
                  <span class="sm_hide_text">Search</span>
                </ion-button>
                <ion-button
                  class="tab_button tooltip"
                  data-tooltip="Clear"
                  (click)="clearFilters()"
                  fill="outline"
                >
                  <ion-icon name="close-circle-outline"></ion-icon>
                  &nbsp; <span class="sm_hide_text">Clear</span>
                </ion-button>

                <ion-button
                  fill="outline"
                  data-tooltip="Download Csv"
                  class="ion-text-right tooltip"
                  [disabled]="!this.dataSource.length"
                  (click)="downloadSerials()"
                >
                  <ion-icon name="cloud-download-outline"></ion-icon>
                  &nbsp;<span class="sm_hide_text">Download CSV</span>
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
    <ion-card-content class="ion-no-padding">
      <div class="example-container mat-elevation-z8">
        <ion-grid id="serialNumber" class="active" style="padding: 0 13px">
        </ion-grid>
        <mat-table
          matSort
          [dataSource]="dataSource"
          (matSortChange)="setFilter($event)"
        >
          <ng-container matColumnDef="sr_no">
            <mat-header-cell *matHeaderCellDef> SL. </mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index ">
              {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="serial_no">
            <mat-header-cell *matHeaderCellDef mat-sort-header="serial_no">
              Serial No.
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a>{{row.serial_no}}</a>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="item_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header="item_name">
              Item Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.item_name}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="item_code">
            <mat-header-cell *matHeaderCellDef mat-sort-header="item_code">
              Item Code
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.item_code}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="warehouse">
            <mat-header-cell *matHeaderCellDef mat-sort-header="warehouse">
              Warehouse
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.warehouse}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="purchase_document_no">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header="purchase_document_no"
            >
              Purchase Receipt
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.purchase_document_no}}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="delivery_note">
            <mat-header-cell *matHeaderCellDef mat-sort-header="delivery_note">
              Delivery Note
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.delivery_note}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="customer">
            <mat-header-cell *matHeaderCellDef mat-sort-header="customer">
              Customer
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.customer_name}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="supplier">
            <mat-header-cell *matHeaderCellDef mat-sort-header="supplier">
              Supplier
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.supplier}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>

          <mat-row
            *matRowDef="let row; columns: displayedColumns;"
            [routerLink]="['/serial-info',row.serial_no,row]"
          ></mat-row>
          <mat-footer-row
            class="footer"
            *matFooterRowDef="displayedColumns; sticky: true"
          ></mat-footer-row>
        </mat-table>
      </div>

      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
