.date-filter-text {
  font-size: 0.7rem;
}

ion-button {
  float: right;
}

#serialNumber {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}
#SerialFilter {
  display: none;
}

#serialBtn {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.pointer {
  cursor: pointer;
  text-decoration: underline;
}
// responsive
@media (min-width: 768px) and (max-width: 1024px) {
}
