<ion-card>
  <ion-card-content class="example-container sm_example-container ion-no-padding">
    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>

    <table mat-table class="full-width " [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> CN name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="posting_date">
        <mat-header-cell *matHeaderCellDef> Posting Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.posting_date | date:'MMM d, y' }} 
         
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.total }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="customer_name">
        <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.customer_name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.owner }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modified_by">
        <mat-header-cell *matHeaderCellDef> Modified By </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.modified_by }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="return_against">
        <mat-header-cell *matHeaderCellDef> Against SN </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.return_against }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="more">
        <mat-header-cell *matHeaderCellDef> More </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ion-buttons>
            <ion-button color="danger" (click)="cancelReturn(row)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>

    <mat-card-actions>
      <mat-paginator
        #paginator
        class="mat-paginator-sticky"
        (page)="getUpdate($event)"
        [length]="dataSource.length"
        [pageSizeOptions]="[30, 50, 100, 500]"
      >
      </mat-paginator>
    </mat-card-actions>
  </ion-card-content>
</ion-card>
