<ion-card>
  <ion-card-content class="ion-no-padding">
    <table
      mat-table
      class="full-width-table"
      [dataSource]="dataSource"
      style="width: 100%"
    >
      <ng-container matColumnDef="claimNo">
        <th mat-header-cell *matHeaderCellDef>Claim No</th>
        <td mat-cell *matCellDef="let row">
          {{ row.claimNo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="claimedItem">
        <th mat-header-cell *matHeaderCellDef>Claimed Item</th>
        <td mat-cell *matCellDef="let row">
          {{ row.claimedItem }}
        </td>
      </ng-container>

      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef>Serial</th>
        <td mat-cell *matCellDef="let row">{{ row.serial }}</td>
      </ng-container>

      <ng-container matColumnDef="claimsReceivedDate">
        <th mat-header-cell *matHeaderCellDef>Claims Received Date</th>
        <td mat-cell *matCellDef="let row">{{ row.claimsReceivedDate }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>

      <ng-container matColumnDef="deliveryDate">
        <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
        <td mat-cell *matCellDef="let row">{{ row.deliveryDate }}</td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>Created By</th>
        <td mat-cell *matCellDef="let row">{{ row.createdBy }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ion-card-content>
</ion-card>
