::-ms-browse {
  background: #633ce0;
  color: #ffffff;
  border: 1px solid #633ce0;
  padding: 10px;
  border-radius: 15px;
}
::-webkit-file-upload-button {
  background: #633ce0;
  color: #ffffff;
  border: 1px solid #633ce0;
  padding: 10px;
  border-radius: 15px;
}

td {
  text-align: left;
}

tr.mat-mdc-footer-row {
  font-weight: bold;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.transform {
  transform: translateY(10px);
}

.add-comment {
  opacity: 0.4;
}

.mat-column-clear {
  flex: 0 0 5%;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-header-row {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  justify-content: center;
}

.fab-position {
  position: absolute;
  top: 2px !important;
  right: 0 !important;
  height: 48px !important ;
  width: 47px !important;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-mdc-table mat-header-row.mat-mdc-header-row,
.mat-mdc-table mat-row.mat-mdc-row,
.mat-mdc-table mat-footer-row.mat-mdc-footer-cell {
  height: 45px !important;
}
.example-container {
  height: 30vh;
}
