<ion-card>
  <ion-card-content class="ion-no-padding">
    <table
      mat-table
      class="full-width sm_example-container"
      [dataSource]="dataSource"
      style="width: 100%"
    >
      <ng-container matColumnDef="claimNo">
        <th mat-header-cell *matHeaderCellDef>Claim No</th>
        <td mat-cell *matCellDef="let row">
          {{ row.claim_no }}
        </td>
      </ng-container>

      <ng-container matColumnDef="claimedItem">
        <th mat-header-cell *matHeaderCellDef>Claimed Item</th>
        <td mat-cell *matCellDef="let row">
          {{ row.item_code }}
        </td>
      </ng-container>

      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef>Serial</th>
        <td mat-cell *matCellDef="let row">{{ row.serial_no }}</td>
      </ng-container>

      <ng-container matColumnDef="claimsReceivedDate">
        <th mat-header-cell *matHeaderCellDef>Claims Received Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.warranty_claim_date |date:'MMM d, y'}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{ row.status_history[row.status_history.length - 1].verdict }}</td>
      </ng-container>

      <ng-container matColumnDef="deliveryDate">
        <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.delivery_date | date:'MMM d, y' }}
         
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>Created By</th>
        <td mat-cell *matCellDef="let row">{{ row.received_by }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ion-card-content>
</ion-card>
