<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 35px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons>
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Stock Balance Summary </ion-title>
      </div>
      <div class="">
        <ion-button
          data-tooltip="Add Warranty Claim"
          class="add_button tooltip"
          [routerLink]="['/warranty/add-warranty-claim']"
        >
          <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
          <span class="sm_hide_text">Add Warranty Claim</span>
        </ion-button>
        <ion-button
          data-tooltip="Serial Search"
          class="add_button tooltip"
          (click)="openSerialSearch()"
        >
          <ion-icon name="barcode-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Serial Search</span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header style="padding: 7px 10px">
      <form [formGroup]="range" (ngSubmit)="setFilter()">
        <ion-row style="" class="align">
          <ion-col sizeMd="6" sizeLg="2">
            <ion-card-title class="flex">
              <ion-text class="title_header" color="tertiary">
                Stock Balance Summary
              </ion-text>
              <!-- Filtar Button -->
            </ion-card-title>
          </ion-col>
          <ion-col sizeMd="6" sizeLg="3.3">
            <mat-form-field appearance="fill" style="height: 45px; width: 100%">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  matStartDate
                  formControlName="start_date"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end_date"
                  placeholder="End date"
                  (dateChange)="setFilter()"
                />
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              <mat-error
                *ngIf="range.controls.start_date.hasError('matStartDateInvalid')"
                >Invalid start date</mat-error
              >
              <mat-error
                *ngIf="range.controls.end_date.hasError('matEndDateInvalid')"
              >
                Invalid end date
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col sizeMd="6" sizeLg="3.3">
            <mat-form-field style="height: 45px; width: 100%">
              <mat-label>Select Item</mat-label>
              <input
                type="text"
                placeholder="Select Item"
                matInput
                formControlName="item_code"
                (keyup.enter)="setFilter()"
                [matAutocomplete]="item_code"
              />
              <mat-autocomplete
                #item_code="matAutocomplete"
                autoActiveFirstOption
              >
                <mat-option
                  *ngFor="let option of filteredItemList | async"
                  [value]="option.item_name"
                >
                  {{ option.item_name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-col>
          <ion-col sizeMd="6" sizeLg="3.3">
            <mat-form-field class="full-width">
              <mat-label>Warehouse</mat-label>
              <input
                matInput
                placeholder="Warehouse"
                formControlName="warehouse"
                (keyup.enter)="setFilter()"
                [matAutocomplete]="autoWarehouse"
                required
              />
            </mat-form-field>
            <mat-autocomplete #autoWarehouse="matAutocomplete">
              <mat-option
                *ngFor="let warehouse of warehouseList | async"
                [value]="warehouse.name"
              >
                <span>{{warehouse.name}}</span>
              </mat-option>
            </mat-autocomplete>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-header>

    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>

    <ion-card-content class="ion-no-padding">
      <div class="example-container mat-elevation-z8">
        <div class="search-models" id="stockBalanceFilter"></div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="sr_no">
            <mat-header-cell *matHeaderCellDef> SL</mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index ">
              {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="item_code">
            <mat-header-cell *matHeaderCellDef> Item Code </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.item_code }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="total_inward">
            <mat-header-cell *matHeaderCellDef> Inward </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.total_inward }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="total_outward">
            <mat-header-cell *matHeaderCellDef> Outward </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.total_outward }} </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <mat-card-actions style="background-color: aqua">
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="setFilter($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
