<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 8px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Add Stock Entry </ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 18px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          target="_new"
          data-tooltip="Stock Availability"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>

        <ion-buttons slot="end" *ngIf="stock_receipt_names?.length">
          <ion-button style="height: 20px" (click)="getPrint()" color="primary">
            <ion-icon slot="icon-only" name="print-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="example-container page-background">
  <form [formGroup]="form">
    <ion-card>
      <ion-card-header *ngIf="uuid">
        <ion-row class="align">
          <ion-col>
            <ion-card-title>
              <ion-text color="tertiary">
                {{ title }}
              </ion-text>
              <br />
              <ion-text
                color="tertiary"
                style="font-size: 15px; color: rgb(244, 170, 66)"
              >
                {{ stock_id }}
              </ion-text>
              <br />
            </ion-card-title>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col *ngIf="readonly">
              <ion-button
                class="tooltip"
                data-tooltip="Open All Entries"
                [disabled]="!stock_receipt_names[0]"
                (click)="openStockEntries()"
                fill="clear"
                shape="round"
              >
                <span class="sm_hide_text"> Open All Entries</span>
              </ion-button>
            </ion-col>

            <ion-col
              style="
                display: flex;
                justify-content: flex-end;
                gap: 5px;
                align-items: center;
              "
              class=""
            >
              <ion-text
                *ngIf="
                  readonly && status !== 'In Transit' && status !== 'Draft'
                "
                [ngStyle]="{
                  color: ['Returned', 'Reseted'].includes(status)
                    ? 'red'
                    : 'green'
                }"
              >
                <h1 style="font-size: 14px">Stock Transfer {{ status }}</h1>
              </ion-text>
              <!-- <button
              *ngIf="status !== 'Draft'"
               style="display: flex;
               font-size: 14px;
              justify-content: center;
              align-items: center;" 
              class="clear_button tooltip" data-tooltip="Clear" (click)="formReset()">  
               <ion-icon name="close-circle-outline"></ion-icon> &nbsp;  <span class="sm_hide_text">Clear</span></button> -->
              <button
                class="tooltip"
                data-tooltip="Delete"
                *ngIf="status === 'Draft'"
                (click)="deleteStockEntry()"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  padding: 10px;
                  background-color: #ff0000 !important;
                  color: #fff;
                  border-radius: 5px;
                "
              >
                <ion-icon name="trash"></ion-icon> &nbsp;
                <span class="sm_hide_text">Delete</span>
              </button>
              <button
                class="tooltip"
                data-tooltip="Save"
                *ngIf="!readonly"
                color="light"
                [disabled]="isWareHouseValidOnSave()"
                (click)="saveDraft()"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  padding: 10px;
                  background-color: #f39b1f;
                  color: #fff;
                  border-radius: 5px;
                "
              >
                <ion-icon name="save-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text"> Save</span>
              </button>

              <button
                class="tooltip add_button"
                data-tooltip="Submit"
                *ngIf="!readonly"
                [disabled]="isWareHouseValidOnSubmit()"
                color="medium"
                (click)="createMaterialTransfer()"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  padding: 10px;
                  background-color: #2d62ae;
                  color: white;
                  border-radius: 5px;
                "
              >
                <ion-icon name="checkmark-circle-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Submit</span>
              </button>

              <button
                class="tooltip"
                data-tooltip="Accept"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  padding: 10px;
                  background-color: #2d62ae;
                  color: white;
                  border-radius: 5px;
                  border: 1px groove;
                "
                *ngIf="
                  readonly &&
                  status === 'In Transit' &&
                  permissionState?.stock_entry?.accept
                "
                [disabled]="submit"
                color="tertiary"
                (click)="acceptTransfer()"
              >
                <ion-icon name="checkmark-circle-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Accept</span>
              </button>

              <!-- <button
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  padding: 10px;
                  background-color: white;
                  color: black;
                  border-radius: 5px;
                  border: 1px solid;
                "
                class="tooltip"
                data-tooltip="Return"
                *ngIf="readonly && status === 'In Transit'"
                [disabled]="submit"
                color="light"
                (click)="rejectTransfer()"
              >
                <ion-icon name="arrow-back-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text"> Return</span>
              </button> -->

              <!-- text -->

              <button
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  padding: 10px;
                  background-color: red;
                  color: white;
                  border-radius: 5px;
                "
                *ngIf="
                  readonly &&
                  ['In Transit', 'Delivered', 'Returned'].includes(status)
                "
                color="danger"
                (click)="resetStockEntry()"
              >
                <ion-icon name="close-circle-outline"></ion-icon>&nbsp;
                <span class="sm_hide_text">Cancel</span>
              </button>
            </ion-col>
          </ion-row>

          <ion-row style="gap: 10px; margin-top: 10px">
            <ion-col>
              <mat-form-field class="full-width pr-10px">
                <mat-label>Branch</mat-label>
                <input
                  required
                  type="text"
                  autocomplete="off"
                  placeholder="Select territory"
                  matInput
                  (focusout)="validateInput(f.territory, territoryList)"
                  formControlName="territory"
                  [matAutocomplete]="territory"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #territory="matAutocomplete"
                >
                  <mat-option
                    *ngFor="let territory of territoryList"
                    [value]="territory"
                  >
                    {{ territory }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.territory.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{ f.territory.value }}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="full-width">
                <mat-label>Stock Entry Type</mat-label>
                <mat-select
                  (selectionChange)="typeChange($event.value)"
                  formControlName="stock_entry_type"
                >
                  <mat-option
                    *ngFor="let type of stockEntryType"
                    [value]="type"
                  >
                    {{ type }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
            <ion-col
              *ngIf="
                ['Material Receipt', 'Material Issue', 'R&D Products'].includes(
                  f.stock_entry_type.value
                )
              "
            >
              <mat-form-field class="mat-input-wrapper">
                <mat-label>Account</mat-label>
                <input
                  matInput
                  required
                  placeholder="Account"
                  [matAutocomplete]="accounts"
                  formControlName="accounts"
                  (focusout)="validateInput(f.accounts, filteredAccounts)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #accounts="matAutocomplete"
                >
                  <mat-option
                    *ngFor="let account of filteredAccounts"
                    [value]="account.name"
                  >
                    {{ account.name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.accounts.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{ f.accounts.value }}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row style="gap: 10px; margin-top: 10px">
            <ion-col
              *ngIf="
                ['R&D Products', 'Material Issue'].includes(
                  f.stock_entry_type.value
                )
              "
            >
              <mat-form-field class="full-width">
                <mat-label>Customer</mat-label>
                <input
                  required
                  type="text"
                  placeholder="Select Customer"
                  matInput
                  formControlName="customer"
                  [matAutocomplete]="auto"
                  (focusout)="validateInput(f.customer, filteredCustomerList)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #auto="matAutocomplete"
                  [displayWith]="getOptionText"
                >
                  <mat-option
                    *ngFor="let option of filteredCustomerList"
                    [value]="option"
                  >
                    {{ option.customer_name }}
                    <small class="text-muted">
                      {{ option.name }}
                    </small>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.customer.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{ f.customer.value }}'</strong> is not allowed.
                </mat-error>
                <mat-error *ngIf="f.customer.hasError('required')">
                  Customer is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="full-width">
                <mat-label>Posting Date</mat-label>
                <input
                  required
                  matInput
                  [matDatepicker]="postingDate"
                  placeholder="Posting Date"
                  formControlName="posting_date"
                  [min]="minPostingDate"
                  (dateChange)="updateItemStock()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="postingDate"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #postingDate
                  [disabled]="!allowBackDatedInvoices"
                ></mat-datepicker>
                <mat-datepicker #postingDate disabled="false"></mat-datepicker>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field class="full-width">
                <mat-label>Remarks</mat-label>
                <textarea
                  type="text"
                  placeholder="Remarks"
                  matInput
                  formControlName="remarks"
                ></textarea>
              </mat-form-field>
            </ion-col>
            <ion-col
              *ngIf="
                ['R&D Products', 'Material Issue'].includes(
                  f.stock_entry_type.value
                )
              "
              size="12"
              sizeMd="12"
              sizeLg="4"
            >
              <mat-form-field class="full-width">
                <mat-label>Project</mat-label>
                <input
                  type="text"
                  placeholder="Select Project"
                  matInput
                  formControlName="project"
                  (focusout)="validateInput(f.project, filteredProjectList)"
                  [matAutocomplete]="project"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #project="matAutocomplete"
                >
                  <mat-option
                    *ngFor="let project of filteredProjectList"
                    [value]="project.name"
                  >
                    {{ project.name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.project.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{ f.project.value }}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <app-assign-serial
            *ngIf="!readonly"
            [state]="state"
            [rangePickerState]="rangePickerState"
            (sendPickerState)="assignPickerState($event)"
            (sendCSVJSON)="addSerialsFromCsvJson($event)"
          ></app-assign-serial>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-card *ngIf="!readonly">
    <ion-card-header>
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary">Warehouse</ion-text>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row style="gap: 10px">
          <ion-col>
            <mat-form-field class="full-width">
              <mat-label>Source Warehouse</mat-label>
              <input
                type="text"
                placeholder="Source Warehouse"
                matInput
                [formControl]="warehouseState.s_warehouse"
                (focusout)="
                  validateInput(
                    warehouseState.s_warehouse,
                    filteredWarehouseList1
                  )
                "
                [matAutocomplete]="from_warehouse"
              />
              <mat-autocomplete
                (optionSelected)="updateItemStock($event.source.value)"
                autoActiveFirstOption
                #from_warehouse="matAutocomplete"
              >
                <mat-option
                  *ngFor="let s_warehouse of filteredWarehouseList1"
                  [value]="s_warehouse"
                >
                  {{ s_warehouse }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="warehouseState.s_warehouse.hasError('falseValse')"
              >
                You should select a value from dropdown only.
                <strong>'{{ warehouseState.s_warehouse.value }}'</strong> is not
                allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col>
            <mat-form-field class="full-width">
              <mat-label>Target Warehouse</mat-label>
              <input
                type="text"
                placeholder="Target Warehouse"
                matInput
                (focusout)="
                  validateInput(
                    warehouseState.t_warehouse,
                    filteredWarehouseList2
                  )
                "
                [formControl]="warehouseState.t_warehouse"
                [matAutocomplete]="warehouse"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #warehouse="matAutocomplete"
              >
                <mat-option
                  *ngFor="let warehouse of filteredWarehouseList2"
                  [value]="warehouse.name"
                >
                  {{ warehouse.name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="warehouseState.t_warehouse.hasError('falseValse')"
              >
                You should select a value from dropdown only.
                <strong>'{{ warehouseState.t_warehouse.value }}'</strong> is not
                allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!readonly">
    <div class="loading-shade" *ngIf="itemDataSource?.loading$ | async">
      <mat-progress-bar
        *ngIf="itemDataSource?.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>

    <ion-card-header style="padding: 0 7px">
      <ion-row
        class="align"
        style="display: flex; justify-content: space-between"
      >
        <ion-col size="6">
          <ion-card-title>
            <ion-text color="tertiary"> Items </ion-text>
          </ion-card-title>
        </ion-col>

        <ion-col size="6" style="display: flex; justify-content: flex-end">
          <ion-button
            class="tooltip"
            data-tooltip="Add Item"
            [disabled]="readonly"
            (click)="addItems()"
          >
            <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
            <span class="sm_hide_text"> Add Item</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content class="example-container mat-elevation-z8 ion-no-padding">
      <table mat-table #table [dataSource]="itemDataSource" style="width: 100%">
        <ng-container matColumnDef="item_name">
          <mat-header-cell *matHeaderCellDef> Item Name </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.item_name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Delete Item </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            <ion-button
              color="danger"
              fill="clear"
              (click)="deleteItemRow(row, i)"
            >
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="assigned">
          <mat-header-cell *matHeaderCellDef> Assigned </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.assigned || 0 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="available_stock">
          <mat-header-cell *matHeaderCellDef> Available Stock </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.available_stock || 0 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="qty">
          <mat-header-cell *matHeaderCellDef> Qty </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <input
              style="border-bottom: 1px solid black"
              placeholder="Enter Quantity"
              matInput
              type="number"
              [(ngModel)]="row.qty"
            />
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="basic_rate">
          <mat-header-cell *matHeaderCellDef> Base Rate </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <input matInput type="number" [(ngModel)]="row.basic_rate" />
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="has_serial_no">
          <mat-header-cell *matHeaderCellDef>Has Serial</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="row.has_serial_no"
              [disabled]="true"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="add_serial">
          <mat-header-cell *matHeaderCellDef>Add Serials</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ion-button fill="outline" (click)="addRow(row)">
              <ion-icon name="Add"></ion-icon>
            </ion-button>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="itemDisplayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: itemDisplayedColumns"></mat-row>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="padding: 0 15px">
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary"> Transfer Serials </ion-text>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content class="example-container ion-no-padding">
      <table
        class=""
        mat-table
        #table
        [dataSource]="materialTransferDataSource"
        style="width: 100%"
      >
        <ng-container matColumnDef="s_warehouse">
          <mat-header-cell *matHeaderCellDef>
            Source Warehouse
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.s_warehouse }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="t_warehouse">
          <mat-header-cell *matHeaderCellDef>
            Target Warehouse
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.t_warehouse }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="item_name">
          <mat-header-cell *matHeaderCellDef> Item Name </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.item_name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="qty">
          <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.qty }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="warranty_date">
          <mat-header-cell *matHeaderCellDef> Warranty Date </mat-header-cell>
          <mat-cell
            style="display: flex; align-items: center"
            *matCellDef="let row"
          >
            <input
              matInput
              [disabled]="readonly && status !== 'Draft'"
              [(ngModel)]="row.warranty_date"
              [matDatepicker]="warranty_date"
              disabled
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="warranty_date"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #warranty_date
              [disabled]="readonly && status !== 'Draft'"
            ></mat-datepicker>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serial_no">
          <mat-header-cell *matHeaderCellDef>Serials</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            <input
              style="border-bottom: 1px solid black"
              (keyup.enter)="onSerialKepUp(i)"
              placeholder="Enter Serials"
              matInput
              id="serials{{ i }}"
              oninput="this.value = this.value.toUpperCase()"
              *ngIf="!row.serial_no[1]"
              [disabled]="row.serial_no[0] === 'Non Serial Item' ? true : false"
              [(ngModel)]="row.serial_no[0]"
            />
            <p *ngIf="row.serial_no.length === 1 ? false : true">
              {{ getSerialsInputValue(row) }}
            </p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="basic_rate">
          <mat-header-cell *matHeaderCellDef> Base Rate </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container *ngIf="permissionState?.stock_entry_receipt?.read">
              <input
                matInput
                type="number"
                [disabled]="readonly && status !== 'Draft'"
                [(ngModel)]="row.basic_rate"
              />
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Delete Serials </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            <ion-button
              [disabled]="readonly"
              color="danger"
              fill="clear"
              (click)="deleteRow(row, i)"
            >
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="materialTransferDisplayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row
          *matRowDef="
            let row;
            columns: materialTransferDisplayedColumns;
            let i = index
          "
        ></mat-row>
      </table>
    </ion-card-content>
  </ion-card>

  <app-delivered-serials
    *ngIf="readonly && status !== 'Reseted'"
    [deliveredSerialsState]="deliveredSerialsState"
  ></app-delivered-serials>
</ion-content>
