.fab-position {
  position: absolute;
  top: 1px;
  right: 0;
  height: 48px !important ;
  width: 47px !important;
}

.cancel {
  color: red;
  background-color: red !important;
}

.footer {
  font-weight: bold;
}

ion-input input.native-input.sc-ion-input-md {
  margin-top: 0 !important;
}
.example-container {
  height: 35vh !important;
}
