::-ms-browse {
  background: var(--ion-color-primary);
  color: #ffffff;
  border: 1px solid var(--ion-color-primary);
  padding: 10px;
  border-radius: 15px;
}

::-webkit-file-upload-button {
  background: var(--ion-color-primary);
  color: #ffffff;
  border: 1px solid var(--ion-color-primary);
  padding: 7px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#txtFileUpload {
  border-bottom: 1px solid #000 !important;
  width: 100%;
}

.submit_button {
  background-color: var(--ion-color-primary);
  color: white;
}

.save_button {
  color: white !important;
  --ion-color-base: var(--ion-color-primary) !important;
  padding: 10px 15px;
  font-size: 18px;
}

input[type=file] {
  margin-top: 10px !important;
  height: 35px !important;
}