<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div style="width: 200px; display: flex; flex-direction: row" class="">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="md-title"> Home </ion-title>
      </div>
      <div class="sm_flex_button" style="display: flex; gap: 5px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          target="_new"
          data-tooltip="Stock Availability"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedIn && !spinner">
  <ion-card class="welcome-card">
    <ion-item *ngIf="picture">
      <ion-avatar>
        <img src="{{ picture }}" alt="" />
      </ion-avatar>
    </ion-item>
    <ion-card-header
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <ion-card-title>Welcome {{ name }}!</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- <ion-row>
    <ion-col>
      <ion-card class="dashboard_card">
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-icon name="cash-outline"></ion-icon>
            </ion-col>
            <ion-col size-md="8">
              <h4>Total Sales</h4>
              <h6>৳500</h6>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="dashboard_card">
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-icon name="repeat-outline"></ion-icon>
            </ion-col>
            <ion-col size-md="8">
              <h4>Return Salse</h4>
              <h6>৳500</h6>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="dashboard_card">
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-icon name="storefront-outline"></ion-icon>
            </ion-col>
            <ion-col size-md="8">
              <h4>Low Stock</h4>
              <h6>500</h6>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="dashboard_card">
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-icon name="card-outline"></ion-icon>
            </ion-col>
            <ion-col size-md="8">
              <h4>Total Purchase</h4>
              <h6>৳500</h6>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="dashboard_card">
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-icon name="people-outline"></ion-icon>
            </ion-col>
            <ion-col size-md="8">
              <h4>Total Customar</h4>
              <h6>৳500</h6>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>
        <div class="bar">
          <h4>Last Month Overview</h4>
          <app-chartjs></app-chartjs>
        </div>
      </ion-card>
    </ion-col>
  </ion-row> -->

  <div class="panel-container">
    <mat-expansion-panel class="panel" *ngFor="let panel of noteList">
      <mat-expansion-panel-header>
        <ion-card-subtitle>
          <ion-text color="tertiary"> {{panel.name}} </ion-text>
        </ion-card-subtitle>
      </mat-expansion-panel-header>
      <ion-card-subtitle>Description</ion-card-subtitle>
      <ion-text [innerHTML]="panel.content"></ion-text>
    </mat-expansion-panel>
  </div>
</ion-content>

<ion-content *ngIf="!loggedIn && !spinner" class="card">
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      style="height: 100%"
    >
      <ion-icon name="log-in"></ion-icon>&nbsp;Please Login to continue
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      style="height: 100%"
    >
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>
</ion-content>
