.welcome-card {
  ion-card-title {
    color: var(--ion-color-primary);
  }
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.panel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.panel {
  width: 49%;
  margin: 10px 0;
  height: max-content;
}

// Developer Ache

.dashboard_card {
  position: relative;
  z-index: 1;
  ion-row {
    align-items: center;
    ion-icon {
      font-size: 60px;
      color: white;
    }
    h4 {
      color: #f39b1f;
    }
  }

  &::after {
    content: '';
    height: 150%;
    width: 70%;
    background-color: var(--ion-color-primary);
    position: absolute;
    top: -50%;
    left: -38%;
    z-index: -1;
    transform: rotate(20deg);
  }
}

.bar {
  height: 500px;
  width: 100%;
  padding: 0 20px;
  h4 {
    border-bottom: 1px solid #2d63ae59;
    padding-bottom: 10px;
    color: var(--ion-color-primary);
  }
}
