<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text> RMA Server Settings </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="companySettingsForm">
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Default Company</mat-label>
          <input
            matInput
            required
            placeholder="Default Company"
            aria-label="Default Company"
            [matAutocomplete]="autoCompany"
            formControlName="defaultCompany"
          />
          <mat-autocomplete #autoCompany="matAutocomplete">
            <mat-option
              *ngFor="let company of companies"
              [value]="company.name"
            >
              <span>{{company.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>ERPNext Timezone</mat-label>
          <input
            matInput
            required
            placeholder="ERPNext Timezone"
            aria-label="ERPNext Timezone"
            [matAutocomplete]="autoTZ"
            formControlName="timeZone"
          />
          <mat-autocomplete #autoTZ="matAutocomplete">
            <mat-option
              *ngFor="let timezone of timezones"
              [value]="timezone"
            >
              <span>{{timezone}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Selling Price List</mat-label>
          <input
            matInput
            required
            placeholder="Selling Price List"
            aria-label="Selling Price List"
            [matAutocomplete]="autoSellingPriceList"
            formControlName="sellingPriceList"
          />
          <mat-autocomplete #autoSellingPriceList="matAutocomplete">
            <mat-option
              *ngFor="let priceList of sellingPriceLists"
              [value]="priceList.name"
            >
              <span>{{priceList.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Debtor Account</mat-label>
          <input
            matInput
            required
            placeholder="Debtor Account"
            aria-label="Debtor Account"
            [matAutocomplete]="autoDebtorAccount"
            formControlName="debtorAccount"
          />
          <mat-autocomplete #autoDebtorAccount="matAutocomplete">
            <mat-option
              *ngFor="let account of accounts"
              [value]="account.name"
            >
              <span>{{account.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Transfer Warehouse</mat-label>
          <input
            matInput
            required
            placeholder="Transfer Warehouse"
            aria-label="Transfer Warehouse"
            [matAutocomplete]="autoTransferWarehouse"
            formControlName="transferWarehouse"
          />
          <mat-autocomplete #autoTransferWarehouse="matAutocomplete">
            <mat-option
              *ngFor="let warehouse of warehouses"
              [value]="warehouse.name"
            >
              <span>{{warehouse.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Authorization Server URL</mat-label>
          <input
            matInput
            placeholder="Authorization Server URL"
            type="text"
            formControlName="authServerURL"
            readonly
          />
          <mat-checkbox formControlName="validateStock" matSuffix
            >Validate Stock</mat-checkbox
          >
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>App URL</mat-label>
          <input
            matInput
            placeholder="App URL"
            type="text"
            formControlName="warrantyAppURL"
            readonly
          />
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Frontend Client ID</mat-label>
          <input
            matInput
            placeholder="Frontend Client ID"
            type="text"
            formControlName="frontendClientId"
            required
          />
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Backend Client ID</mat-label>
          <input
            matInput
            placeholder="Backend Client ID"
            type="text"
            formControlName="backendClientId"
            required
          />
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Service Account</mat-label>
          <input
            matInput
            placeholder="Service Account"
            type="text"
            formControlName="serviceAccountUser"
            required
          />
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Service Account Secret</mat-label>
          <input
            required
            formControlName="serviceAccountSecret"
            matInput
            type="password"
            placeholder="Service Account Secret"
            [type]="hideSASecret ? 'password' : 'text'"
          />
          <mat-icon matSuffix (click)="hideSASecret = !hideSASecret">
            {{hideSASecret ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Service Account API Key</mat-label>
          <input
            matInput
            placeholder="Service Account API Key"
            type="text"
            formControlName="serviceAccountApiKey"
            required
          />
        </mat-form-field>
        <mat-form-field class="mat-input-wrapper">
          <mat-label>Service Account API Secret</mat-label>
          <input
            required
            formControlName="serviceAccountApiSecret"
            matInput
            type="password"
            placeholder="Service Account API Secret"
            [type]="hideSAApiSecret ? 'password' : 'text'"
          />
          <mat-icon matSuffix (click)="hideSAApiSecret = !hideSAApiSecret">
            {{hideSAApiSecret ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
      </form>
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-button color="light" (click)="updateSettings()">
              Update
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-right"> </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Territory for Warehouse </ion-card-title>
      <ion-fab vertical="top" horizontal="end">
        <ion-fab-button color="light" (click)="mapTerritory()">
          <ion-icon name="swap-horizontal-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding">
        <mat-form-field class="mat-input-wrapper">
          <input
            matInput
            placeholder="Search"
            [(ngModel)]="search"
            (keyup.enter)="setFilter()"
          />
          <button mat-button matSuffix (click)="setFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <section class="ion-text-right">
          <mat-checkbox
            class="example-margin"
            (ngModelChange)="setFilter($event)"
            [(ngModel)]="group"
            >In Group</mat-checkbox
          >
        </section>
      </div>
      <table
        mat-table
        class="mat-input-wrapper"
        [dataSource]="territoryDataSource"
        matSort
        aria-label="Elements"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            (click)="setFilter()"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Warehouse Column -->
        <ng-container matColumnDef="warehouse">
          <th mat-header-cell *matHeaderCellDef>Warehouse</th>
          <td mat-cell *matCellDef="let row">
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option
                *ngFor="let warehouse of getChips(row.warehouse)"
                color="primary"
                selected
              >
                {{warehouse}}
              </mat-chip-option>
            </mat-chip-listbox>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          (click)="mapTerritory(row.uuid, row.name, row.warehouse)"
          *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      </table>

      <mat-paginator
        #paginator
        class="mat-paginator-sticky"
        (page)="getUpdate($event)"
        [length]="territoryDataSource.length"
        [pageSizeOptions]="[30, 50, 100, 500]"
      >
      </mat-paginator>
    </ion-card-content>
  </ion-card>
</ion-content>
