::-ms-browse {
  background: var(--ion-color-primary);
  color: #ffffff;
  border: 1px solid var(--ion-color-primary);
  padding: 10px;
  border-radius: 15px;
}

::-webkit-file-upload-button {
  background: var(--ion-color-primary);
  color: #ffffff;
  border: 1px solid var(--ion-color-primary);
  padding: 7px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.first-modal {
  height: 30vh;
}
// ion-modal {
//   --height: 30%;
//   --border-radius: 16px;
//   --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
//     0 4px 6px -4px rgb(0 0 0 / 0.1);
// }
#txtFileUpload {
  border-bottom: 1px solid #000 !important;
  width: 100%;
  padding: 3.5px 0;
}

.add-comment {
  opacity: 0.4;
}

.fab-position {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 48px !important ;
  width: 47px !important;
}

.footer {
  font-weight: bold;
}

.mat-column-delete {
  flex: 0 0 5%;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-footer-cell {
  display: flex;
  justify-content: center;
}

mat-header-row {
  display: flex;
  justify-content: center;
}
mat-footer-row {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  justify-content: center;
}
input[type='file'] {
  margin-top: 10px !important;
  height: 35px !important;
}
.example-container {
  height: 25vh;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
}
ion-card {
  border: none !important;
}

/* Style table headers */
th {
  background: var(--ion-color-primary);
  color: #ffffff;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: left;
}

/* Style table cells */
td {
  border: 1px solid #ccc;
  color: black;
  padding: 15px;
  text-align: 'left';
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect on rows */
tr:hover {
  background-color: #ddd;
}
ion-modal {
  padding-left: 18rem;
  --width: 100%;
}

@media only screen and (max-width: 1040px) {
  ion-modal {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  ion-modal {
    padding-left: 0px;
    --width: 100% !important;
  }
}
