<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Item Price </ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 23px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          target="_new"
          color="red"
          data-tooltip="Stock Availability"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header style="padding: 5px 15px">
      <form [formGroup]="itemsForm">
        <mat-grid-list
          cols="14"
          rowHeight="65px"
          (window:resize)="onResize($event)"
          gutterSize="5px"
        >
          <mat-grid-tile
            [colspan]="firstColumn"
            style="display: flex; align-items: center"
          >
            <ion-card-title class="flex">
              <ion-text color="tertiary"> Items </ion-text>
              <!-- Filtar Button -->
            </ion-card-title>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="inputColumn">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Item Name</mat-label>
              <input
                matInput
                placeholder="Item Name"
                [matAutocomplete]="itemNameAutocomplete"
                formControlName="itemName"
                (focusout)="validateInput(f.itemName, filteredItemNameList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #itemNameAutocomplete="matAutocomplete"
                (optionSelected)="setFilter($event.option.value)"
              >
                <mat-option
                  *ngFor="let option of filteredItemNameList"
                  [value]="option.item_name"
                >
                  {{ option.item_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.itemName.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.itemName.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="inputColumn">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Item Group</mat-label>
              <input
                matInput
                placeholder="Item Group"
                [matAutocomplete]="itemGroupAutocomplete"
                formControlName="itemGroup"
                (focusout)="validateInput(f.itemGroup, filteredItemGroupList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #itemGroupAutocomplete="matAutocomplete"
                (optionSelected)="setFilter($event.option.value)"
              >
                <mat-option
                  *ngFor="let option of filteredItemGroupList"
                  [value]="option.item_group_name"
                >
                  {{ option.item_group_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.itemGroup.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.itemGroup.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="inputColumn">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Brand</mat-label>
              <input
                matInput
                placeholder="Brand"
                [matAutocomplete]="itemBrandAutocomplete"
                formControlName="itemBrand"
                (focusout)="validateInput(f.itemBrand, filteredItemBrandList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #itemBrandAutocomplete="matAutocomplete"
                (optionSelected)="setFilter($event.option.value)"
              >
                <mat-option
                  *ngFor="let option of filteredItemBrandList"
                  [value]="option.brand"
                >
                  {{ option.brand }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.itemBrand.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.itemBrand.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="btnColumn">
            <div style="width: 100%; display: flex; justify-content: flex-end">
              <ion-button
                class="tooltip"
                fill="outline"
                data-tooltip="Search"
                (click)="setFilter()"
              >
                <ion-icon name="search-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Search</span>
              </ion-button>
              <ion-button
                class="tooltip"
                fill="outline"
                data-tooltip="Clear"
                (click)="clearFilters()"
              >
                <ion-icon name="close-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Clear</span>
              </ion-button>

              <ion-button
                class="tooltip"
                data-tooltip="Sync All"
                *ngIf="permissionState?.item_price?.update"
                color="warning"
                (click)="syncItems()"
                fill="outline"
                style="--ion-color-base: #f39b1f !important"
              >
                <ion-icon name="refresh-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Sync All</span>
              </ion-button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </ion-card-header>
    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
    <div>
      <div class="example-container mat-elevation-z8 full-width" id="itemTable">
        <div class="full-width">
          <ion-grid id="itemList" style="padding: 0 15px">
            <form></form>
          </ion-grid>
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="setFilter($event)"
            aria-label="Elements"
          >
            <!-- Item -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="name">
                Item
              </th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>

            <!-- Item Name -->
            <ng-container matColumnDef="item_name">
              <th mat-header-cell *matHeaderCellDef>Item Name</th>
              <td mat-cell *matCellDef="let row">{{row.item_name}}</td>
            </ng-container>

            <ng-container matColumnDef="has_serial">
              <th mat-header-cell *matHeaderCellDef>Serialized</th>
              <td mat-cell *matCellDef="let row">
                <section>
                  <mat-checkbox
                    [(ngModel)]="row.has_serial_no"
                    (ngModelChange)="itemSerialized($event, row.item_name)"
                    class="example-margin"
                  ></mat-checkbox>
                </section>
              </td>
            </ng-container>

            <!-- sales Warranty Months Column -->
            <ng-container matColumnDef="salesWarrantyMonths">
              <th mat-header-cell *matHeaderCellDef class="ion-text-center">
                Sales Warranty Months
              </th>

              <td
                class="ion-text-center"
                mat-cell
                *matCellDef="let row"
                [satPopoverAnchor]="d"
                tabindex="0"
                (keyup.enter)="d.open()"
                (click)="d.open()"
              >
                <ion-text *ngIf="permissionState?.item_price?.read">
                  {{row.salesWarrantyMonths}}
                </ion-text>
                <sat-popover
                  #d
                  hasBackdrop
                  xAlign="start"
                  yAlign="start"
                  (closed)="updateSalesWarrantyMonths(row, $event)"
                >
                  <edit-days
                    column="sales"
                    *ngIf="permissionState?.item_price?.update"
                    [value]="row.salesWarrantyMonths"
                  ></edit-days>
                </sat-popover>
              </td>
            </ng-container>

            <!-- purchase Warranty Months Column -->
            <ng-container matColumnDef="purchaseWarrantyMonths">
              <th mat-header-cell *matHeaderCellDef class="ion-text-center">
                Purchase Warranty Months
              </th>

              <td
                class="ion-text-center"
                mat-cell
                *matCellDef="let row"
                [satPopoverAnchor]="d"
                tabindex="0"
                (keyup.enter)="d.open()"
                (click)="d.open()"
              >
                <ion-text> {{row.purchaseWarrantyMonths}} </ion-text>
                <sat-popover
                  #d
                  hasBackdrop
                  xAlign="start"
                  yAlign="start"
                  (closed)="updatePurchaseWarrantyMonths(row, $event)"
                >
                  <edit-days
                    column="purchase"
                    [value]="row.purchaseWarrantyMonths"
                  ></edit-days>
                </sat-popover>
              </td>
            </ng-container>
            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef class="ion-text-center">
                Price
              </th>
              <td
                class="ion-text-center"
                mat-cell
                *matCellDef="let row"
                [satPopoverAnchor]="p"
                tabindex="0"
                (keyup.enter)="p.open()"
                (click)="p.open()"
              >
                <ion-text *ngIf="permissionState?.item_price_list?.read">
                  {{ row.minimumPrice || 0 | curFormat | async }}
                </ion-text>
                <sat-popover
                  #p
                  hasBackdrop
                  xAlign="start"
                  yAlign="start"
                  (closed)="updateMinPrice(row, $event)"
                >
                  <edit-price
                    *ngIf="permissionState?.item_price?.update"
                    [value]="row.minimumPrice"
                    column="price"
                  ></edit-price>
                </sat-popover>
              </td>
            </ng-container>

            <ng-container matColumnDef="mrp">
              <th mat-header-cell *matHeaderCellDef class="ion-text-center">
                MRP
              </th>
              <td
                class="ion-text-center"
                mat-cell
                *matCellDef="let row"
                [satPopoverAnchor]="p"
                tabindex="0"
                (keyup.enter)="p.open()"
                (click)="p.open()"
              >
                <ion-text *ngIf="permissionState?.item_price?.read">
                  {{row.mrp || 0 | curFormat | async}}
                </ion-text>
                <sat-popover
                  #p
                  hasBackdrop
                  xAlign="start"
                  yAlign="start"
                  (closed)="updateMRP(row, $event)"
                >
                  <edit-price
                    [value]="row.mrp"
                    column="mrp"
                    *ngIf="permissionState?.item_price?.update"
                  ></edit-price>
                </sat-popover>
              </td>
            </ng-container>

            <!-- Selling Price Column -->
            <ng-container matColumnDef="selling_price">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                Selling Price
              </th>
              <td
                class="ion-text-center"
                mat-cell
                *matCellDef="let row; let i = index"
              >
                <ion-text *ngIf="row.selling_price !== undefined">
                  {{row.selling_price | curFormat | async}}
                </ion-text>
                <ion-button
                  *ngIf="row.selling_price === undefined"
                  (click)="loadPrice(i)"
                  fill="clear"
                >
                  <ion-icon slot="icon-only" name="refresh"></ion-icon>
                </ion-button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500]"
        >
        </mat-paginator>
      </mat-card-actions>
    </div>
  </ion-card>
</ion-content>
