ion-icon[slot='start'] {
  margin-right: 8px;
  color: var(--ion-color-primary);
}

.menu_active {
  ion-icon[slot='start'] {
    margin-right: 0 !important;
  }
}

.sidebar_menu {
  height: calc(100vh - 120px);
  overflow-y: auto;
}

#sidebar_menu {
  transition: 0.2s;
}

.open_menu_icon {
  display: none;
}

.menu_active {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
  .menu_heide_item {
    display: none !important;
  }

  .sidebar_menu {
    ion-label {
      display: none;
    }
  }

  .item-inner {
    padding: 0 !important;
  }

  ion-title {
    padding: 0 16px;
    text-align: center;
  }

  ion-list.ion-margin-start.ion-no-padding.ng-star-inserted.md.list-md.hydrated {
    margin-left: 0;
    position: relative;
    left: 10px;
  }

  .open_menu_icon {
    display: block !important;
  }
}
.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 65px;

  transform: translateX(-50%);
  padding: 5px;
  background-color: var(--ion-color-primary);
  color: white;
  outline-color: var(--ion-color-primary);
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  z-index: 2000 !important;
}

.tooltip:hover::before {
  visibility: visible;
  opacity: 1;
  z-index: 2000;
}
.menu_avatar {
  display: flex;
  align-items: center;

  border: 1px solid #ddd;
  background-color: var(--ion-color-primary);
  color: white;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;

  .avatar_image {
    display: flex;
    width: 40px;
    height: 40px;
    .ion_avatar {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .name {
    font-size: 15px;
  }

  .log_out {
    margin-left: auto;
    padding: 0 !important;
    border-bottom: none;
  }
}

.menu-icon-wraper {
  button {
    background-color: transparent;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    ion-icon {
      font-size: 25px !important;
    }
  }
}
.login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
ion-content::-webkit-scrollbar {
  display: none;
}
ion-modal {
  padding-left: 18rem;
}

@media only screen and (max-width: 1040px) {
  ion-modal {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  ion-modal {
    padding-left: 0px;
    --width: 100% !important;
  }
}
.alignment {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
