<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title">Serial Information</ion-title>
      </div>
      <div style="margin-right: 25px">
        <ion-button
          data-tooltip="Add Warranty Claim"
          class="add_button tooltip"
          [routerLink]="['/warranty/add-warranty-claim']"
        >
          <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
          <span class="sm_hide_text">Add Warranty Claim</span>
        </ion-button>
        <ion-button
          data-tooltip="Serial Search"
          class="add_button tooltip"
          (click)="openSerialSearch()"
        >
          <ion-icon name="barcode-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Serial Search</span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="padding: 7px 20px">
      <ion-card-title color="tertiary"> {{serialNo}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <form [formGroup]="serialInfoForm">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating"> Serial Number </ion-label>
                <ion-input
                  placeholder="Serial Number"
                  type="string"
                  formControlName="serial_no"
                  (keyup.enter)="fetchSerialData(this.f.serial_no.value)"
                >
                </ion-input>
                <ion-buttons style="margin: auto" slot="end">
                  <ion-button (click)="fetchSerialData(this.f.serial_no.value)">
                    <ion-icon name="search-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="floating">Item Name</ion-label>
                <ion-input
                  placeholder="Item Name"
                  readonly="true"
                  type="string"
                  formControlName="item_name"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="floating">Item Code</ion-label>
                <ion-input
                  placeholder="Item Code"
                  readonly="true"
                  type="string"
                  formControlName="item_code"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="floating">Warehouse</ion-label>
                <ion-input
                  placeholder="Warehouse"
                  readonly="true"
                  type="string"
                  formControlName="warehouse"
                >
                </ion-input>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item lines="none" (click)="viewSupplier()">
                <ion-label position="floating">Supplier</ion-label>
                <ion-input
                  placeholder="Supplier"
                  readonly="true"
                  type="string"
                  formControlName="supplier"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none" (click)="viewPurchaseReceipt()">
                <ion-label position="floating">Purchase Receipt</ion-label>
                <ion-input
                  placeholder="Purchase Receipt"
                  readonly="true"
                  type="string"
                  formControlName="purchase_document_no"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none" (click)="viewCustomer()">
                <ion-label position="floating">Customer</ion-label>
                <ion-input
                  placeholder="Customer"
                  readonly="true"
                  type="string"
                  formControlName="customer"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="floating">Delivery Note</ion-label>
                <ion-input
                  placeholder="Delivery Note"
                  readonly="true"
                  type="string"
                  formControlName="delivery_note"
                >
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="padding: 0 20px">
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-card-title color="tertiary">Serial History</ion-card-title>
          </ion-card-title>
        </ion-col>

        <ion-col class="ion-text-right">
          <ion-button
            data-tooltip="Get History"
            class="ion-text-right tooltip"
            (click)="getSerialHistory()"
            ><ion-icon name="document-text-outline"></ion-icon> &nbsp;
            <span class="sm_hide_text">Get History</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <div class="mat-elevation-z8 example-container">
      <table
        mat-table
        style="width: 100%; overflow: auto"
        [dataSource]="serialHistoryDataSource"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="eventType">
          <th mat-header-cell *matHeaderCellDef>Event Type</th>
          <td mat-cell *matCellDef="let element">{{element.eventType}}</td>
        </ng-container>

        <ng-container matColumnDef="document_no">
          <th mat-header-cell *matHeaderCellDef>Doc No</th>
          <td mat-cell *matCellDef="let element">
            {{element.readable_document_no || element.document_no}}
          </td>
        </ng-container>

        <ng-container matColumnDef="transaction_from">
          <th mat-header-cell *matHeaderCellDef>Transaction From</th>
          <td mat-cell *matCellDef="let element">
            {{element.transaction_from}}
          </td>
        </ng-container>

        <ng-container matColumnDef="transaction_to">
          <th mat-header-cell *matHeaderCellDef>Transaction To</th>
          <td mat-cell *matCellDef="let element">{{element.transaction_to}}</td>
        </ng-container>

        <ng-container matColumnDef="document_type">
          <th mat-header-cell *matHeaderCellDef>Document Type</th>
          <td mat-cell *matCellDef="let element">{{element.document_type}}</td>
        </ng-container>

        <ng-container matColumnDef="parent_document">
          <th mat-header-cell *matHeaderCellDef>Parent Doc</th>
          <td mat-cell *matCellDef="let element">
            {{element.naming_series || element.parent_document}}
          </td>
        </ng-container>

        <ng-container matColumnDef="created_on">
          <th mat-header-cell *matHeaderCellDef>Created On</th>
          <td mat-cell *matCellDef="let element">
            {{element.created_on | date: 'd MMM, y'}}
            <!-- <span style="color: #2d62ae">{{ timeFunc(row.posting_time) }}</span> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="created_by">
          <th mat-header-cell *matHeaderCellDef>Created By</th>
          <td mat-cell *matCellDef="let element">{{element.created_by}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns; let i = index"
        ></tr>
      </table>
    </div>
  </ion-card>
</ion-content>
