.sc-ion-card-md-h {
  min-height: 90vh;
}

.search-models {
  padding: 0em 1em 0em 1em;
}

.footer {
  font-weight: bold;
}

.date-filter-text {
  font-size: 0.7rem;
}

.mat-table thead,
mat-header-row,
[mat-header-row] {
  background-color: var(--ion-color-primary);
}

#stock_entry_list {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

#MaterialClose {
  display: none;
}

.example-container {
  height: 74.5vh;
}
