.search-models {
  padding: 0em 1em 0em 1em;
}

.mat-column-delete {
  flex: 0 0 5%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

mat-header-cell {
  flex-wrap: nowrap;
  min-width: 200px;
}

#ProblemList {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

.mat-header-cell {
  background-color: var(--ion-color-primary);
}

#problemClose {
  display: none;
}
::ng-deep .wider-popover {
  --width: 40vw !important;
}
