<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title" *ngIf="calledFrom === 'add'">
          Add Sales Invoice
        </ion-title>
        <ion-title class="md-title title" *ngIf="calledFrom === 'edit'">
          Update Sales Invoice
        </ion-title>
      </div>
      <div class="sm_flex_button" style="display: flex; gap: 5px">
        <a
          data-tooltip="Stock Availability"
          target="_new"
          color="tertiary"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-fab
    class="ion-margin-end"
    slot="fixed"
    vertical="top"
    color="light"
    horizontal="end"
  >
    <ion-button
      data-tooltip="Clear"
      style="margin-top: 10px; margin-right: 70px; padding: 0px"
      fill="outline"
      (click)="resetSalesForm()"
      class="clear_button tooltip"
    >
      <ion-icon name="close-circle-outline"> </ion-icon>
      <span class="sm_hide_text">Clear</span>
    </ion-button>
    <ion-fab-button
      style="padding: 0px !important"
      *ngIf="calledFrom === 'add'"
      class="fab-position"
      [disabled]="salesInvoiceForm.invalid"
      (click)="submitDraft()"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      *ngIf="calledFrom === 'edit'"
      class="fab-position"
      [disabled]="salesInvoiceForm.invalid"
      (click)="updateSalesInvoice()"
    >
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form [formGroup]="salesInvoiceForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-text color="tertiary"> Details </ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row class="" style="gap: 10px">
            <ion-col sizeLg="2.9" sizeMd="5.9">
              <mat-form-field class="full-width">
                <mat-label>Customer</mat-label>
                <input
                  required
                  type="text"
                  placeholder="Select Customer"
                  matInput
                  formControlName="customer"
                  [matAutocomplete]="auto"
                  (focusout)="validateInput(f.customer, filteredCustomerList)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #auto="matAutocomplete"
                  [displayWith]="getOptionText"
                  (optionSelected)="customerChanged($event.option.value)"
                >
                  <mat-option
                    *ngFor="let option of filteredCustomerList"
                    [value]="option"
                  >
                    {{ option.customer_name }}
                    <small class="text-muted"> {{ option.name}} </small>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.customer.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.customer.value}}'</strong> is not allowed.
                </mat-error>
                <mat-error *ngIf="f.customer.hasError('required')">
                  Customer is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ion-col>

            <ion-col sizeLg="2.9" sizeMd="5.9">
              <mat-form-field class="full-width">
                <mat-label>Posting Date</mat-label>
                <input
                  required
                  matInput
                  [matDatepicker]="postingDate"
                  placeholder="Posting Date"
                  readonly
                  formControlName="postingDate"
                  [min]="minPostingDate"
                  (dateChange)="selectedPostingDate($event)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="postingDate"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #postingDate
                  [disabled]="!allowBackDatedInvoices"
                ></mat-datepicker>
                <mat-error *ngIf="f.postingDate.hasError('required')">
                  Posting Date is <strong> required </strong>
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col sizeLg="2.9" sizeMd="5.9">
              <mat-form-field class="full-width">
                <mat-label>Warehouse</mat-label>
                <input
                  required
                  type="text"
                  placeholder="Select Warehouse"
                  matInput
                  formControlName="warehouse"
                  (focusout)="validateInput(f.warehouse, filteredWarehouseList)"
                  [matAutocomplete]="warehouse"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #warehouse="matAutocomplete"
                  (optionSelected)="updateStockBalance($event.option.value,true)"
                >
                  <mat-option
                    *ngFor="let warehouse of filteredWarehouseList"
                    [value]="warehouse"
                  >
                    {{ warehouse }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.warehouse.hasError('required')">
                  Warehouse is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="f.warehouse.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.warehouse.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
            <!-- </ion-row>

          <ion-row class="align" > -->
            <ion-col sizeLg="2.9" sizeMd="5.9">
              <mat-form-field class="full-width">
                <mat-label>Remaining Balance</mat-label>
                <input
                  matInput
                  placeholder="Remaining Balance"
                  readonly
                  formControlName="balance"
                  [value]="salesInvoiceForm.get('balance').value | curFormat | async"
                />
                <mat-error
                  *ngIf="f.balance.errors && f.balance.hasError('min')"
                >
                  Credit limit exceeded
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col sizeLg="2.9" sizeMd="5.9">
              <mat-form-field class="full-width">
                <mat-label>Due Date</mat-label>
                <input
                  required
                  matInput
                  [matDatepicker]="dueDate"
                  placeholder="Due Date"
                  readonly
                  formControlName="dueDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dueDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #dueDate disabled="false"></mat-datepicker>
                <mat-error
                  *ngIf="f.dueDate.errors && f.dueDate.hasError('required')"
                >
                  Due Date is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="f.dueDate.errors && f.dueDate.hasError('dueDate')"
                >
                  Due Date cannot be before posting date
                </mat-error>
              </mat-form-field>
            </ion-col>

            <ion-col sizeLg="2.9" sizeMd="5.9">
              <mat-form-field class="full-width">
                <mat-label>Branch</mat-label>
                <input
                  required
                  type="text"
                  placeholder="Select territory"
                  matInput
                  formControlName="territory"
                  (focusout)="validateInput(f.territory, territoryList)"
                  [matAutocomplete]="territory"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #territory="matAutocomplete"
                >
                  <mat-option
                    *ngFor="let territory of territoryList"
                    [value]="territory"
                  >
                    {{ territory }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.territory.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.territory.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>

            <ion-col sizeLg="5.9" sizeMd="5.9">
              <mat-form-field class="full-width">
                <mat-label>Remarks</mat-label>
                <textarea
                  type="text"
                  placeholder="Remarks"
                  matInput
                  formControlName="remarks"
                ></textarea>

                <!-- <mat-error *ngIf="f.territory.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.territory.value}}'</strong> is not allowed.
                </mat-error> -->
              </mat-form-field>
            </ion-col>

            <!-- <ion-col sizeLg="5.9" sizeMd="5.9">
              <ion-item>
                <ion-textarea
                  style="margin: 0px; padding: 0px"
                  label="Remarks"
                  labelPlacement="stacked"
                  type="string"
                  placeholder="Remarks"
                ></ion-textarea>
              </ion-item>
            </ion-col> -->
            <!-- <ion-col>
              <mat-form-field class="full-width">
                <mat-label>Remarks</mat-label>
                <input required type="text" placeholder="Remarks" />
              </mat-form-field>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-card>
    <ion-card-header style="padding: 0 15px">
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary"> Items </ion-text>
          </ion-card-title>
        </ion-col>
        <ion-col class="ion-text-right" size="auto">
          <ion-button
            data-tooltip="Add Item"
            class="tooltip"
            fill="outline"
            matTooltip=" ( ctrl + i ) "
            matTooltipPosition="above"
            matTooltipClass="tooltip"
            (ctrlI)="addItem()"
            (click)="addItem()"
          >
            <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
            <span class="sm_hide_text">Add Item</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content class="example-container ion-no-padding">
      <table
        class=""
        mat-table
        #table
        [dataSource]="dataSource"
        style="width: 100%"
      >
        <ng-container matColumnDef="item">
          <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
          <mat-cell
            *matCellDef="let row;let i = index"
            [satPopoverAnchor]="p"
            tabindex="0"
            (keyup.enter)="p.open()"
            (click)="p.open()"
          >
            <ng-container *ngIf="row.item_name">
              {{ row.item_name }}
            </ng-container>
            <span class="add-comment" *ngIf="!row.item_name">
              Add an item
            </span>
            <sat-popover
              #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="updateItem(row,i,$event)"
            >
              <inline-edit
                class="inline_edit"
                [value]="row.item_name"
                column="item"
                [minimumPrice]="row.minimumPrice"
              ></inline-edit>
            </sat-popover>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="stock">
          <mat-header-cell *matHeaderCellDef> Available Stock </mat-header-cell>
          <mat-cell
            *matCellDef="let row"
            [ngStyle]="{'color': row.stock > 0 ? 'green' : 'red'}"
          >
            {{ row.stock }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
          <mat-cell
            *matCellDef="let row"
            [satPopoverAnchor]="p"
            tabindex="0"
            (keyup.enter)="p.open()"
            (click)="p.open()"
          >
            {{ row.qty }}
            <sat-popover
              #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="updateQuantity(row, $event)"
            >
              <inline-edit
                [value]="row.qty"
                column="quantity"
                [minimumPrice]="row.minimumPrice"
              ></inline-edit>
            </sat-popover>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="rate">
          <mat-header-cell *matHeaderCellDef> Rate </mat-header-cell>
          <mat-cell
            *matCellDef="let row"
            [satPopoverAnchor]="p"
            tabindex="0"
            (keyup.enter)="p.open()"
            (click)="p.open()"
          >
            {{ row.rate | curFormat | async }}
            <sat-popover
              #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="updateRate(row, $event)"
            >
              <inline-edit
                [value]="row.rate"
                column="rate"
                [minimumPrice]="row.minimumPrice"
              ></inline-edit>
            </sat-popover>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.rate * row.qty | curFormat | async }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>
            {{ f.total.value | curFormat | async }}
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row ; let i = index">
            <ion-button
              (click)="deleteRow(i)"
              fill="clear"
              class="ion-no-padding"
              color="danger"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row
          class="footer"
          *matFooterRowDef="displayedColumns; sticky: true"
        ></mat-footer-row>
      </table>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="showBrandWiseCreditLimit">
    <ion-card-header>
      <ion-card-title>
        <ion-text color="tertiary"> Brand Wise Credit Limit </ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content
      style="height: 20vh !important"
      class="example-container ion-no-padding"
    >
      <table
        class=""
        mat-table
        #table
        [dataSource]="brandLimitDataSource"
        style="width: 100%"
      >
        <ng-container matColumnDef="brand">
          <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.brand }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="limit">
          <mat-header-cell *matHeaderCellDef> Limit </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.limit | curFormat | async }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="invoice_amount">
          <mat-header-cell *matHeaderCellDef> Invoice Amount </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.invoice_amount | curFormat | async }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="invoice_amount">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row ; let i = index">
            <ion-button
              (click)="deleteRow(i)"
              fill="clear"
              class="ion-no-padding"
              color="danger"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container> -->

        <mat-header-row
          *matHeaderRowDef="brandCreditLimitColumns; sticky: true"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: brandCreditLimitColumns;"
        ></mat-row>
        <mat-footer-row
          class="footer"
          *matFooterRowDef="brandCreditLimitColumns; sticky: true"
        ></mat-footer-row>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="address.name && salesInvoiceForm.get('customer').value">
    <ion-card-header>
      <ion-card-title>
        <ion-text color="tertiary"> Address </ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content
      *ngIf="address.name && salesInvoiceForm.get('customer').value"
    >
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-text class="full-width">
              {{ address.name }}
              <br />
              {{ address.address_line1 }}
              <br />
              {{ address.address_line2 ? address.address_line2 : '' }}
              <br />
              {{ address.city }}-{{ address.pincode }}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content
      *ngIf="!address.name && salesInvoiceForm.get('customer').value "
    >
      <ion-text class="full-width"> No address assigned to customer </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
