.add-comment {
  opacity: 0.4;
}

.fab-position {
  position: absolute;
  top: 5px !important;
  right: 0 !important;
  height: 48px !important ;
  width: 47px !important;
}

.footer {
  font-weight: bold;
}

.mat-column-delete {
  flex: 0 0 5%;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-footer-cell {
  display: flex;
  justify-content: center;
}

mat-header-row {
  display: flex;
  justify-content: center;
}
mat-footer-row {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  justify-content: center;
}

.clear_button {
  padding: 10px 15px;
  background-color: var(--ion-color-primary);
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.clear_button:active {
  transform: scale(0.9);
}
.example-container {
  height: 50vh;
}
.inline_edit {
  width: 600px !important;
}
@media screen and (max-width: 768px) {
  .example-container {
    height: 80vh;
  }
  .inline_edit {
    width: 300px !important;
  }
}
