<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      style="z-index: 12 !important"
      class="hide-scrollbar"
      id="sidebar_menu"
      contentId="main-content"
      type="overlay"
    >
      <ion-header>
        <ion-toolbar>
          <ion-title class="menu-icon-wraper">
            <button class="disable-click" (click)="sidebarHandler()">
              <ion-icon
                id="menu_icon_left "
                class="menu_heide_item sm_hide_text"
                name="arrow-back-outline"
              ></ion-icon>
              <ion-icon
                name="arrow-forward-outline"
                class="open_menu_icon sm_hide_text"
              ></ion-icon>
              <span class="menu_heide_item">Menu</span>
            </button>
          </ion-title>
          <!-- <ion-button class="menu_heide_item " slot="end" (click)="login()" size="small" fill="clear">
              <ion-icon name="refresh"> Refresh Session </ion-icon>
            </ion-button>
            <ion-text class="ion-margin-end menu_heide_item" slot="end" color="primary">
              <ng-container *ngIf="counter > 0">
                {{ counter | formatTime }}
              </ng-container>
            </ion-text> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list class="sidebar_menu">
          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              routerDirection="'root'"
              *ngIf="!loggedIn"
              routerLink="/"
              (click)="login()"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              routerDirection="'root'"
              *ngIf="loggedIn"
              routerLink="/home"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              [routerLink]="['/warranty/add-warranty-claim']"
              lines="none"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon slot="start" name="add-outline"></ion-icon>
              <ion-label>Add Warranty Claim</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              routerLink="/warranty"
              lines="none"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon slot="start" name="repeat-outline"></ion-icon>
              <ion-label>Warranty Claims List</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              routerLink="/service-invoice"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="receipt-outline"></ion-icon>
              <ion-label>Service Invoice</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              routerLink="/balance-summary"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="trending-up-outline"></ion-icon>
              <ion-label>Stock Balance Summary</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              routerLink="/serial-info-search"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="barcode-outline"></ion-icon>
              <ion-label>Serial Search</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              routerLink="/serial-search"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="list-outline"></ion-icon>
              <ion-label>Serial List Search</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              (click)="openSalesPortal()"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="desktop-outline"></ion-icon>
              <ion-label>Sales Portal</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-grid *ngIf="loggedIn" class="no-padding">
          <ion-menu-toggle auto-hide="false">
            <div class="menu_avatar">
              <div class="avatar_image menu_heide_item">
                <div *ngIf="imageURL">
                  <ion-avatar class="ion_avatar">
                    <img src="{{ imageURL }}" />
                  </ion-avatar>
                </div>
                <div *ngIf="!imageURL">
                  <ion-avatar class="ion_avatar">
                    <img src="../assets/alternative.svg" />
                  </ion-avatar>
                </div>
              </div>
              <div
                class="avatar_name menu_heide_item tooltip"
                data-tooltip="profile"
              >
                <ion-text class="name"> {{ name }} </ion-text>
              </div>

              <div
                class="tooltip"
                data-tooltip="log out"
                style="
                  margin-left: auto;
                  font-size: 25px;
                  cursor: pointer;
                  color: #fff;
                "
              >
                <ion-icon
                  routerDirection="'root'"
                  routerLink="/"
                  *ngIf="loggedIn"
                  (click)="logout()"
                  name="log-out-outline"
                ></ion-icon>
              </div>
            </div>
          </ion-menu-toggle>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <div id="indicator" class="side_indicator">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
</ion-app>
