<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Sales Invoice </ion-title>
      </div>
      <div style="display: flex; gap: 5px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          data-tooltip="Stock Availability"
          target="_new"
          color="red"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
        <div style="display: flex; height: 100%">
          <ion-buttons
            slot="end"
            *ngIf="sales_invoice_name && status !== 'Canceled'"
          >
            <ion-button
              style="height: 20px; margin-top: 5px"
              (click)="showPrintOptions($event)"
              color="primary"
            >
              <ion-icon slot="icon-only" name="print-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-segment
        [(ngModel)]="selectedSegment"
        scrollable="true"
        class="disable-scrollbars"
      >
        <ion-segment-button
          value="0"
          *ngIf="permissionState.sales_invoice.active"
        >
          <ion-label> Details </ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="1"
          *ngIf="status !== 'Canceled' && sales_invoice_name && permissionState.delivery_note.active"
        >
          <ion-label> Serials </ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="2"
          *ngIf="status !== 'Canceled' && sales_invoice_name"
        >
          <ion-label> Accounts </ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="3"
          *ngIf="status !== 'Canceled' && sales_invoice_name && permissionState.delivery_note.active"
        >
          <ion-label> Returns </ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="4"
          *ngIf="status !== 'Canceled' && sales_invoice_name && permissionState.warranty_claim.active"
        >
          <ion-label> Warranty </ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="5"
          [disabled]="showCreditNotesTab"
          *ngIf="status !== 'Canceled' && sales_invoice_name && !showCreditNotesTab && permissionState.credit_note.active"
        >
          <ion-label> Credit Notes </ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
  </ion-card>

  <div [ngSwitch]="selectedSegment">
    <sales-invoice-details class="width" *ngSwitchCase="0">
    </sales-invoice-details>
    <sales-invoice-serials class="width" *ngSwitchCase="1">
    </sales-invoice-serials>
    <sales-invoice-accounts
      [sales_invoice]="sales_invoice_name"
      class="width"
      *ngSwitchCase="2"
    ></sales-invoice-accounts>
    <sales-invoice-return-serials
      [salesInvoiceName]="sales_invoice_name"
      class="width"
      *ngSwitchCase="3"
    >
    </sales-invoice-return-serials>
    <sales-invoice-warranty
      class="width"
      *ngSwitchCase="4"
    ></sales-invoice-warranty>
    <sales-invoice-credit-notes
      [sales_invoice]="sales_invoice_name"
      class="width"
      *ngSwitchCase="5"
    >
    </sales-invoice-credit-notes>
  </div>
</ion-content>
