@use '@angular/material' as mat;

:host {
  @include mat.elevation(2);
  display: block;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 16px 24px 8px;
  // min-width: 440px;
}

.mat-subtitle-1 {
  margin: 0;
  font-weight: 500;
}

.mat-mdc-form-field {
  width: 100%;
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-right: -16px;
}
[_nghost-lly-c170] {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  display: block;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 16px 24px 8px;
  --min-width: 440px;
}
