<div style="width: full">
  <form style="height: 100%">
    <div
      class="mat-subtitle-1 ion-text-capitalize"
      *ngIf="passedFrom === 'add'"
    >
      Add Problem
    </div>
    <div
      class="mat-subtitle-1 ion-text-capitalize"
      *ngIf="passedFrom === 'update'"
    >
      Update Problem
    </div>
    <mat-form-field style="height: 300px; overflow: auto">
      <mat-label>Problem</mat-label>
      <textarea
        style="width: 100%"
        id="problemTextarea"
        type="text"
        matInput
        required
        placeholder="Problem"
        [formControl]="problemFormControl"
        rows="0"
      ></textarea>
      <mat-error *ngIf="problemFormControl.errors"> Required! </mat-error>
    </mat-form-field>
    <div class="actions">
      <button mat-button type="button" color="primary" (click)="onCancel()">
        CANCEL
      </button>
      <button
        mat-button
        (click)="addProblem()"
        color="primary"
        [disabled]="disableAction"
        *ngIf="passedFrom === 'add'"
      >
        ADD
      </button>
      <button
        mat-button
        (click)="updateProblem()"
        color="primary"
        *ngIf="passedFrom === 'update'"
        [disabled]="disableAction"
      >
        UPDATE
      </button>
    </div>
  </form>
</div>
<!-- </ion-content> -->
