.search-models {
  padding: 0em 1em 0em 1em;
}

td {
  text-align: left;
}

.fab-position {
  position: absolute;
  top: 2px !important;
  right: 0 !important;
  height: 48px !important ;
  width: 47px !important;
}