<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Serial Quantity </ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 22px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          target="_new"
          data-tooltip="Stock Availability"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<div class="loading-shade" *ngIf="dataSource.loading$ | async">
  <mat-progress-bar
    *ngIf="dataSource.loading$ | async"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<ion-content color="light">
  <ion-card>
    <ion-card-header style="padding: 6px 15px">
      <form [formGroup]="serialQuantityForm">
        <ion-row>
          <ion-col
            size="12"
            sizeLg="1.2"
            sizeMd="6"
            style="display: flex; align-items: center"
          >
            <ion-card-title class="flex">
              <ion-text color="primary"> Serial Quantity </ion-text>
              <!-- Filtar Button -->
            </ion-card-title>
          </ion-col>

          <ion-col sizeMd="6" sizeLg="4">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Item Name</mat-label>
              <input
                matInput
                placeholder="Item Name"
                [matAutocomplete]="item_name"
                formControlName="item_name"
                (focusout)="validateInput(this.f.item_name, filteredItemNameList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #item_name="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredItemNameList"
                  [value]="option.item_name"
                >
                  {{ option.item_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="this.f.item_name.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{this.f.item_name.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeMd="6" sizeLg="4">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Warehouse</mat-label>
              <input
                matInput
                placeholder="Warehouse"
                [matAutocomplete]="warehouse"
                formControlName="warehouse"
                (focusout)="validateInput(this.f.warehouse, filteredWarehouseList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #warehouse="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredWarehouseList"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="this.f.warehouse.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{this.f.warehouse.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col
            size="12"
            sizeLg="2.8"
            sizeMd="6"
            class="flex-between"
            style="margin-top: 4px"
          >
            <ion-button
              class="tooltip"
              data-tooltip="Clear"
              (click)="clearFilters()"
              fill="outline"
            >
              <ion-icon name="close-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Clear</span>
            </ion-button>

            <ion-button
              class="tooltip"
              data-tooltip="Download Csv"
              [disabled]="!dataSource.length"
              (click)="downloadSerialQuantity()"
              fill="outline"
            >
              <ion-icon name="cloud-download-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Download CSV</span>
            </ion-button>
            <ion-button
              class="tooltip"
              data-tooltip="Search"
              fill="outline"
              (click)="(setFilter())"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <div class="example-container mat-elevation-z8" id="QuantityTable">
        <form
          style="margin: 0px !important; padding: 0px"
          [formGroup]="serialQuantityForm"
          id="serial_quantity"
        >
          <ion-grid style="margin: 0px; padding: 0px 15px"> </ion-grid>
        </form>
        <table
          mat-table
          class="full-width"
          [dataSource]="dataSource"
          matSort
          (matSortChange)="setFilter($event)"
        >
          <ng-container matColumnDef="sr_no">
            <mat-header-cell *matHeaderCellDef> SL </mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index ">
              {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header="item_name">
              Item Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row?.item_name }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_code">
            <mat-header-cell *matHeaderCellDef mat-sort-header="item_code">
              Item Code
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row?.item_code }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="warehouse">
            <mat-header-cell *matHeaderCellDef mat-sort-header="warehouse">
              Warehouse
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row?.warehouse }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="serial_quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header="total">
              Serial Quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row?.total }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
          </mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </table>
      </div>
      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500, 1000]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
