<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Stock Ledger Report </ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 23px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          target="_new"
          data-tooltip="Stock Availability"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header style="padding: 4px 13px">
      <form style="margin-bottom: 5px" [formGroup]="stockLedgerForm">
        <ion-row>
          <ion-col
            size="12"
            sizeLg="1.5"
            style="display: flex; align-items: center"
          >
            <ion-card-title class="flex">
              <ion-text color="primary"> Stock Ledger </ion-text>
              <!-- Filtar Button -->
            </ion-card-title>
          </ion-col>

          <ion-col sizeLg="2.6">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Item Name</mat-label>
              <input
                matInput
                placeholder="Item Name"
                [matAutocomplete]="itemName"
                formControlName="item_name"
                (focusout)="
                validateInput(f.itemName, filteredItemNameList)
              "
              />
              <mat-autocomplete
                autoActiveFirstOption
                #itemName="matAutocomplete"
                [displayWith]="getItemName"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredItemNameList"
                  [value]="option"
                >
                  {{ option.item_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.item_name.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong> '{{ f.itemName.value }}' </strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2.6">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Warehouse</mat-label>
              <input
                matInput
                placeholder="Warehouse"
                [matAutocomplete]="warehouse"
                formControlName="warehouse"
                (focusout)="validateInput(f.warehouse, filteredWarehouseList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #warehouse="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredWarehouseList"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.warehouse.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{ f.warehouse.value }}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2.6">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Voucher No.</mat-label>
              <input
                matInput
                placeholder="Voucher No."
                formControlName="voucher_no"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2.7">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Item Group</mat-label>
              <input
                matInput
                placeholder="Item Group"
                [matAutocomplete]="itemGroupAutocomplete"
                formControlName="item_group"
                (focusout)="
                validateInput(f.item_group, filteredItemGroupList)
              "
              />
              <mat-autocomplete
                autoActiveFirstOption
                #itemGroupAutocomplete="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredItemGroupList"
                  [value]="option.item_group_name"
                >
                  {{ option.item_group_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.item_group.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{ f.item_group.value }}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="3">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Voucher Type</mat-label>
              <mat-select
                formControlName="voucher_type"
                (selectionChange)="setFilter()"
              >
                <mat-option
                  *ngFor="let voucherType of voucherTypeList"
                  [value]="voucherType"
                >
                  {{ voucherType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="3">
            <mat-form-field class="mat-input-wrapper">
              <mat-label>Brand</mat-label>
              <input
                matInput
                placeholder="Brand"
                [matAutocomplete]="itemBrandAutocomplete"
                formControlName="item_brand"
                (focusout)="
                validateInput(f.item_brand, filteredItemBrandList)
              "
              />
              <mat-autocomplete
                autoActiveFirstOption
                #itemBrandAutocomplete="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredItemBrandList"
                  [value]="option.brand"
                >
                  {{ option.brand }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.item_brand.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{ f.item_brand.value }}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeMd="6" sizeLg="3">
            <mat-form-field appearance="fill" class="mat-input-wrapper">
              <mat-label> Enter a date range </mat-label>
              <mat-date-range-input
                [formGroup]="stockLedgerForm"
                [rangePicker]="picker"
              >
                <input
                  matStartDate
                  formControlName="start_date"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end_date"
                  placeholder="End date"
                  (dateChange)="setFilter()"
                />
              </mat-date-range-input>
              <mat-hint> MM/DD/YYYY – MM/DD/YYYY </mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-date-range-picker #picker> </mat-date-range-picker>
              <mat-error *ngIf="f.start_date.hasError('matStartDateInvalid')">
                Invalid start date
              </mat-error>
              <mat-error *ngIf="f.end_date.hasError('matEndDateInvalid')">
                Invalid end date
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col
            size="12"
            sizeMd="6"
            sizeLg="3"
            class="flex-between"
            style="text-align: right"
          >
            <ion-button
              class="tooltip"
              data-tooltip="Search"
              fill="outline"
              (click)="setFilter()"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
            <ion-button
              class="tooltip"
              data-tooltip="Clear"
              (click)="clearFilters()"
              fill="outline"
            >
              <ion-icon name="close-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Clear</span>
            </ion-button>
            <ion-button
              class="tooltip"
              data-tooltip="Download CSV"
              (click)="downloadStockLedgerReport()"
              fill="outline"
            >
              <ion-icon name="cloud-download-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Download CSV</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-header>

    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>

    <ion-card-content class="ion-no-padding">
      <div class="example-container mat-elevation-z8" id="LedgerTable">
        <form [formGroup]="stockLedgerForm" id="stock_lebger">
          <ion-grid style="padding: 0px 13px"> </ion-grid>
        </form>
        <table mat-table class="full-width" [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="sr_no">
            <mat-header-cell *matHeaderCellDef> SL</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="posting_date">
            <mat-header-cell style="width: 100px" *matHeaderCellDef>
              Date
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.posting_date | date: 'd MMM, y' }}
              <div style="color: #2d62ae">
                {{ (row.posting_date | date:'mediumTime') }}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_name">
            <mat-header-cell style="width: 250px !important" *matHeaderCellDef>
              Item Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.item.item_name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_code">
            <mat-header-cell *matHeaderCellDef> Item Code </mat-header-cell>
            <mat-cell style="width: 100px" *matCellDef="let row">
              {{ row.item.item_code }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_group">
            <mat-header-cell *matHeaderCellDef> Item Group </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.item.item_group }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="voucher_no">
            <mat-header-cell *matHeaderCellDef> Voucher No </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.voucher_no }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="voucher_type">
            <mat-header-cell *matHeaderCellDef> Voucher Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.voucher_type }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="brand">
            <mat-header-cell style="width: 50px" *matHeaderCellDef>
              Item <br />
              Brand
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.item.brand }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="warehouse">
            <mat-header-cell *matHeaderCellDef> Warehouse </mat-header-cell>
            <mat-cell style="width: 150px" *matCellDef="let row">
              {{ row.warehouse }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="stock_uom">
            <mat-header-cell *matHeaderCellDef> Stock UOM </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.item.stock_uom }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actual_qty">
            <mat-header-cell *matHeaderCellDef>
              Actual Quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.actual_qty }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="balance_qty">
            <mat-header-cell *matHeaderCellDef> Balance Qty </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.balance_qty }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="incoming_rate">
            <mat-header-cell *matHeaderCellDef> Incoming Rate </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.incoming_rate }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="outgoing_rate">
            <mat-header-cell *matHeaderCellDef> Outgoing Rate </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.outgoing_rate }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valuation_rate">
            <mat-header-cell *matHeaderCellDef>
              Valuation Rate
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.valuation_rate }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="balance_value">
            <mat-header-cell *matHeaderCellDef> Balance Value </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.balance_value }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
          </mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </table>
      </div>
      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500, 1000]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
