<ion-card>
  <div
    class="loading-shade"
    *ngIf="deliveredSerialsDataSource?.loading$ | async"
  >
    <mat-progress-bar
      *ngIf="deliveredSerialsDataSource?.loading$ | async"
      mode="indeterminate"
    ></mat-progress-bar>
  </div>

  <ion-card-header style="padding: 0px 10px">
    <ion-row class="align">
      <ion-col>
        <ion-card-title>
          <ion-text color="tertiary"> Delivered Serials </ion-text>
        </ion-card-title>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button
          data-tooltip="DownLoad CSV"
          class="ion-text-right tooltip"
          [disabled]="
            !deliveredSerialsDataSource?.length ||
            permissionState?.serial_dump?.active
          "
          color="tertiary"
          (click)="downloadSerials()"
        >
          <ion-icon name="cloud-download-outline"></ion-icon> &nbsp;
          <span class="sm_hide_text"> Download CSV</span>
        </ion-button>
        <ion-button
          data-tooltip="Get Serials"
          class="ion-text-right tooltip"
          color="tertiary"
          (click)="getDeliveredSerials()"
        >
          <ion-icon name="arrow-down-circle-outline"></ion-icon>
          <span class="sm_hide_text">Get Serials</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <div
    class="search-models ion-no-padding"
    style="padding: 10px 10px 10px 10px"
  >
    <mat-form-field class="mat-input-wrapper">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Search"
        [(ngModel)]="deliveredSerialsSearch"
        (keyup.enter)="setFilter()"
      />
      <button mat-button matSuffix (click)="setFilter()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="example-container">
    <table
      mat-table
      #table
      [dataSource]="deliveredSerialsDataSource"
      class="full-width"
    >
      <ng-container matColumnDef="sr_no">
        <mat-header-cell *matHeaderCellDef> No </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
        </mat-cell>
      </ng-container>

      <div
        *ngFor="
          let cell of deliveredSerialsState?.deliveredSerialsDisplayedColumns
        "
      >
        <ng-container *ngIf="cell !== 'sr_no'" [matColumnDef]="cell">
          <mat-header-cell *matHeaderCellDef>
            {{ displayNameMappings[cell] }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div>
              {{
                getDateCell(cell) ? (row[cell] | date: 'd MMM, y') : row[cell]
              }}
            </div>
          </mat-cell>
        </ng-container>
      </div>

      <mat-header-row
        *matHeaderRowDef="
          deliveredSerialsState?.deliveredSerialsDisplayedColumns;
          sticky: true
        "
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: deliveredSerialsState?.deliveredSerialsDisplayedColumns;
          let i = index
        "
      ></mat-row>
    </table>
  </div>

  <mat-card-actions>
    <mat-paginator
      #paginator
      class="mat-paginator-sticky"
      (page)="getUpdate($event)"
      [length]="deliveredSerialsDataSource?.length"
      [pageSizeOptions]="[30, 50, 100, 500]"
    >
    </mat-paginator>
  </mat-card-actions>
</ion-card>
