<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 14px;
      "
    >
      <ion-buttons slot="start">
        <ion-button (click)="navigateBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="md-title title">Return</ion-title>
      <div style="display: flex; gap: 5px; margin-right: 20px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          data-tooltip="Stock Availability"
          target="_new"
          color="red"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header style="padding: 9px 15px">
      <form [formGroup]="salesReturnForm">
        <ion-row class="align">
          <ion-col sizeLg="1.2">
            <ion-card-title class="return_title">
              <ion-text color="tertiary"> Sales Return </ion-text>

              <!-- Filter Button -->
            </ion-card-title>
          </ion-col>

          <ion-col size="12" sizeLg="2.2" sizeMd="6">
            <mat-form-field class="full-width">
              <mat-label>Invoice Number</mat-label>
              <input
                matInput
                placeholder="Invoice Number"
                formControlName="name"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2.2" sizeMd="6">
            <mat-form-field class="full-width">
              <mat-label>Customer</mat-label>
              <input
                matInput
                placeholder="Customer"
                [matAutocomplete]="Customer"
                formControlName="customer"
                (focusout)="validateInput(f.customer, filteredCustomerList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #Customer="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredCustomerList"
                  [value]="option.customer_name"
                >
                  {{ option.customer_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.customer.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.customer.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="2.2" sizeMd="6">
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select
                formControlName="status"
                (selectionChange)="setFilter()"
              >
                <mat-option>All</mat-option>
                <mat-option *ngFor="let status of statusList" [value]="status">
                  {{ status }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2.2" sizeMd="6">
            <mat-form-field appearance="fill" class="mat-input-wrapper">
              <mat-label> Enter a date range </mat-label>
              <mat-date-range-input
                [formGroup]="salesReturnForm"
                [rangePicker]="picker"
              >
                <input
                  matStartDate
                  formControlName="start_date"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end_date"
                  placeholder="End date"
                  (dateChange)="setFilter()"
                />
              </mat-date-range-input>
              <mat-hint> MM/DD/YYYY – MM/DD/YYYY </mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-date-range-picker #picker> </mat-date-range-picker>
              <mat-error *ngIf="f.start_date.hasError('matStartDateInvalid')">
                Invalid start date
              </mat-error>
              <mat-error *ngIf="f.end_date.hasError('matEndDateInvalid')">
                Invalid end date
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-button
              data-tooltip="Search"
              class="tooltip"
              fill="outline"
              (click)="setFilter()"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
            <ion-button
              data-tooltip="Clear"
              class="tooltip"
              (click)="clearFilters()"
              fill="outline"
            >
              <ion-icon name="close-outline"></ion-icon> &nbsp;<span
                class="sm_hide_text"
                >Clear</span
              >
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-header>

    <form [formGroup]="salesReturnForm">
      <ion-card-content class="table-container ion-no-padding">
        <div class="loading-shade" *ngIf="dataSource.loading$ | async">
          <mat-progress-bar
            *ngIf="dataSource.loading$ | async"
            mode="indeterminate"
          ></mat-progress-bar>
        </div>

        <div class="example-container mat-elevation-z8" id="returnTable">
          <ion-grid id="return_salse_filter" style="padding: 0 13px">
          </ion-grid>
          <table mat-table class="full-width" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> SL </mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index ">
                {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>
                Delivery Note
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a [routerLink]="['/sales-return/details',row.name]">
                  {{ row.name }}
                </a>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="posting_date">
              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div>{{ row.posting_date | date: 'd MMM, y' }}</div>
                <div style="color: #2d62ae">
                  {{ getTime(row.posting_time) }}
                </div>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>
                Customer Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ 0 - row.total | curFormat | async }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>
                {{ 0 - total | curFormat | async }}
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                [ngStyle]="{color: row.docstatus === 1 ? 'red' : 'brown'}"
              >
                {{ row.docstatus === 1 ? 'Returned' : 'Canceled' }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="owner">
              <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.owner }} </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="modified_by">
              <mat-header-cell *matHeaderCellDef> Modified By </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.modified_by }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            class="mat-paginator-sticky"
            (page)="getUpdate($event)"
            [length]="dataSource.length"
            [pageSizeOptions]="[30, 50, 100, 500]"
          >
          </mat-paginator>
        </mat-card-actions>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
