<ion-header>
  <ion-toolbar style="padding: 0px 22px">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Service Invoices </ion-title>
      </div>
      <div class="">
        <ion-button
          data-tooltip="Add Warranty Claim"
          class="add_button tooltip"
          [routerLink]="['/warranty/add-warranty-claim']"
        >
          <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
          <span class="sm_hide_text">Add Warranty Claim</span>
        </ion-button>
        <ion-button
          data-tooltip="Serial Search"
          class="add_button tooltip"
          (click)="openSerialSearch()"
        >
          <ion-icon name="barcode-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Serial Search</span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <form [formGroup]="serviceForm">
    <ion-card>
      <ion-card-header style="padding: 7px 15px">
        <ion-row class="align">
          <ion-col sizeLg="1.3">
            <ion-card-title class="flex">
              <ion-text color="tertiary"> Service Invoices </ion-text>
              <!-- Filtar Button -->

              <!-- <button class="filter_button" (click)="serviceInvoiceFilter()">
                <mat-icon class="">sort</mat-icon>
                Filter
              </button> -->
            </ion-card-title>
          </ion-col>

          <ion-col sizeLg="2.12" sizeMd="6">
            <mat-form-field class="full-width">
              <mat-label>Customer</mat-label>
              <input
                matInput
                placeholder="Customer"
                [matAutocomplete]="customer"
                formControlName="customer_name"
                (focusout)="validateInput(f.customer_name, filteredCustomerList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #customer="matAutocomplete"
                [displayWith]="getCustomerOption"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredCustomerList | async"
                  [value]="option"
                >
                  {{ option.customer_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.customer_name.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.customer_name.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="2.12">
            <mat-form-field class="full-width">
              <mat-label>Invoice No</mat-label>
              <input
                matInput
                formControlName="invoice_no"
                placeholder="Invoice No"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="full-width">
              <mat-label>Claim No</mat-label>
              <input
                matInput
                formControlName="claim_no"
                placeholder="Claim No"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="2.12">
            <mat-form-field class="full-width">
              <mat-label>Branch</mat-label>
              <input
                matInput
                placeholder="Branch"
                [matAutocomplete]="territory"
                formControlName="territory"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #territory="matAutocomplete"
                [displayWith]="getOption"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredTerritoryList | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2" sizeMd="6">
            <mat-form-field class="full-width">
              <mat-label>Submitted By</mat-label>
              <input
                matInput
                formControlName="submitted_by"
                placeholder="Submitted By"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="3">
            <mat-form-field class="full-width">
              <mat-label>Created By</mat-label>
              <input
                matInput
                formControlName="created_by"
                placeholder="Created By"
                (keyup.enter)="dateFilter()"
              />
            </mat-form-field>
          </ion-col>
          <!-- new  -->
          <!-- Add this code within the <mat-form-field> in your existing template -->
          <ion-col sizeLg="3">
            <mat-form-field class="full-width">
              <mat-label>Date Range</mat-label>
              <mat-date-range-input [rangePicker]="dateRangePicker">
                <input
                  readonly
                  matStartDate
                  placeholder="From Date"
                  formControlName="fromDate"
                  (dateChange)="dateFilter()"
                />
                <input
                  readonly
                  matEndDate
                  placeholder="To Date"
                  formControlName="toDate"
                  (dateChange)="dateFilter()"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="dateRangePicker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
            </mat-form-field>
          </ion-col>

          <!-- old -->
          <!-- <ion-col sizeLg="2.3">
            <mat-form-field class="full-width">
              <mat-label>From Date</mat-label>
              <input
                matInput
                [matDatepicker]="fromDate"
                placeholder="From Date"
                readonly
                formControlName="fromDate"
                (dateChange)="dateFilter()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="fromDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #fromDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="2.3">
            <mat-form-field class="full-width">
              <mat-label>To Date</mat-label>
              <input
                matInput
                [matDatepicker]="toDate"
                placeholder="To Date"
                readonly
                formControlName="toDate"
                (dateChange)="dateFilter()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="toDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #toDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col> -->
          <ion-col sizeLg="3" class="ion-text-right">
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select
                formControlName="status"
                (selectionChange)="statusChange($event.value)"
              >
                <mat-option *ngFor="let status of statusList" [value]="status">
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-button
              style="padding-top: 5px"
              data-tooltip="Search"
              class="tooltip"
              fill="outline"
              (click)="setFilter()"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
            <ion-button
              style="padding-top: 5px"
              data-tooltip="Clear"
              class="tooltip"
              (click)="clearFilters()"
              fill="outline"
            >
              <ion-icon name="close-circle-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Clear</span>
            </ion-button>
            <ion-button
              fill="outline"
              style="padding-top: 5px"
              data-tooltip="Download Csv"
              class="tooltip"
              [disabled]="!dataSource.length"
              (click)="downloadServiceInvoices()"
            >
              <ion-icon name="cloud-download-outline"></ion-icon> &nbsp;<span
                class="sm_hide_text"
                >Download CSV</span
              >
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <div class="loading-shade" *ngIf="dataSource.loading$ | async">
        <mat-progress-bar
          *ngIf="dataSource.loading$ | async"
          mode="indeterminate"
        ></mat-progress-bar>
      </div>
      <ion-card-content class="ion-no-padding">
        <div class="example-container mat-elevation-z8">
          <ion-grid id="service_invoice" style="padding: 0px 20px"> </ion-grid>
          <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> SL </mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index ">
                {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="invoice_no">
              <mat-header-cell *matHeaderCellDef> Invoice No </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                (click)="openERPServiceInvoice(row)"
              >
                <ng-container *ngIf="row.invoice_no">
                  {{ row.invoice_no }}
                </ng-container>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container> {{ row.status }} </ng-container>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container>
                  {{ getDate(row.posting_date) | date: 'd MMM, y' }} <br />
                </ng-container>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="customer_third_party">
              <mat-header-cell *matHeaderCellDef> Claim Type </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container> {{ row.customer_third_party }} </ng-container>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef class="right-aligned">
                Total
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="invoice_amount">
              <mat-header-cell *matHeaderCellDef class="center-align">
                Invoice Amount
              </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                class="center-align right-padding"
              >
                <ng-container>
                  {{ row.total | curFormat | async }}
                </ng-container>
              </mat-cell>
              <mat-footer-cell
                *matFooterCellDef
                class="right-aligned right-padding"
              >
                {{ total | curFormat | async}}
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="claim_no">
              <mat-header-cell *matHeaderCellDef> Claim No </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.claim_no }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="remarks">
              <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
              <mat-cell style="width: 100px" *matCellDef="let row">
                {{ extractFirst40Letters(row.remarks) }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="branch">
              <mat-header-cell *matHeaderCellDef> Branch </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.branch }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="created_by">
              <mat-header-cell *matHeaderCellDef> Created by </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.created_by }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container> -->

            <ng-container matColumnDef="submitted_by">
              <mat-header-cell *matHeaderCellDef>
                Submitted by
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.created_by }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="submit">
              <mat-header-cell *matHeaderCellDef>
                Document Status
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index">
                <ion-text
                  [ngStyle]="{
                  color: row.docstatus === 1 ? '#4d2500' : 'red'
                }"
                >
                  {{ row.docstatus === 0 ? 'Not Submitted' : row.docstatus === 1
                  ? 'Submitted' : 'Canceled' }}
                </ion-text>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row
              class="footer"
              *matFooterRowDef="displayedColumns; sticky: true"
            ></mat-footer-row>
          </mat-table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            class="mat-paginator-sticky"
            (page)="getUpdate($event)"
            [length]="dataSource.length"
            [pageSizeOptions]="[30, 50, 100, 500]"
          >
          </mat-paginator>
        </mat-card-actions>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
