.date-filter-text {
  font-size: 0.7rem;
}

.footer {
  font-weight: bold;
}

.right-aligned {
  text-align: end;
}

.right-padding {
  padding-right: 1em;
}

.center-align {
  text-align: center;
}

// MD ACHEM
.mat-table thead,
mat-header-row,
[mat-header-row] {
  background-color: #2d62ae;
}

#service_invoice {
  height: 0;
  overflow: hidden;
  background-color: white;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}
#ServiceClose {
  display: none;
}

.example-container {
  height: 69vh;
}
