<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Customer Profile </ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 23px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          target="_new"
          color="red"
          data-tooltip="Stock Availability"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<div class="loading-shade" *ngIf="dataSource.loading$ | async">
  <mat-progress-bar
    *ngIf="dataSource.loading$ | async"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<ion-content color="light">
  <ion-card>
    <form [formGroup]="customerProfileForm">
      <ion-card-header style="padding: 2px 15px">
        <mat-grid-list
          cols="15"
          rowHeight="65px"
          (window:resize)="onResize($event)"
          gutterSize="5px"
        >
          <mat-grid-tile
            [colspan]="firstColumn"
            style="display: flex; align-items: center"
          >
            <ion-card-title class="flex">
              <ion-text color="primary"> Customers </ion-text>
              <!-- Filtar Button -->
            </ion-card-title>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="inputColumn">
            <mat-form-field
              style="margin-bottom: 5px"
              class="mat-input-wrapper"
            >
              <mat-label>Customer</mat-label>
              <input
                matInput
                placeholder="Customer name"
                [matAutocomplete]="auto"
                formControlName="customer"
                (focusout)="validateInput(f.customer, filteredCustomerList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredCustomerList"
                  [value]="option.customer_name"
                >
                  {{ option.customer_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.customer.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.customer.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="inputColumn">
            <mat-form-field
              style="margin-bottom: 5px"
              class="mat-input-wrapper"
            >
              <mat-label>Branch</mat-label>
              <input
                matInput
                placeholder="Branch"
                [matAutocomplete]="auto2"
                formControlName="territory"
                (focusout)="validateInput(f.territory, territories)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto2="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of territories"
                  [value]="option.name"
                >
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.territory.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.territory.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="btnColumn" class="sm_left padding_less">
            <div style="width: 100%; display: flex; justify-content: flex-end">
              <ion-button
                data-tooltip="Clear"
                class="tooltip"
                (click)="clearFilters()"
                fill="outline"
              >
                <ion-icon name="close-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Clear</span>
              </ion-button>
              <ion-button
                data-tooltip="Search"
                class="tooltip"
                fill="outline"
                (click)="setFilter()"
              >
                <ion-icon name="search-outline"></ion-icon> &nbsp;
                <span class="sm_hide_text">Search</span>
              </ion-button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </ion-card-header>

      <ion-modal
        backdropDismiss="false"
        style="--width: 50%; --height: 70%; --border-radius: 5px"
        cssClass=""
        [isOpen]="isFirstModalOpen"
      >
        <ng-template style="padding-left: 200px">
          <ion-header>
            <ion-toolbar style="padding: 0px 17px">
              <p
                style="
                  color: var(--ion-color-primary);
                  padding-left: 5px;
                  font-size: 19px;
                "
              >
                Brand Wise Credit Limit &nbsp; &nbsp;{{customerName}}
              </p>
              <ion-buttons slot="end">
                <ion-button
                  data-tooltip="Close"
                  class="tooltip"
                  style="
                    background-color: var(--ion-color-primary);
                    color: #ffffff;
                    border-radius: 5px;
                  "
                  (click)="closeBrandModal()"
                >
                  <ion-icon name="close-outline"></ion-icon> &nbsp;
                  <span class="sm_hide_text">Close</span>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <!-- start -->
          <ion-content class="ion-padding" style="height: 25">
            <div class="alignment">
              <div style="margin-right: 3px !important; margin-top: 15px">
                <div class="space-between">
                  <p
                    style="
                      color: var(--ion-color-primary);
                      padding-left: 5px;
                      font-size: 19px;
                    "
                  >
                    Total Remaining Balance:
                    <span class="color-black"
                      >{{ totalRemainingBalance | curFormat | async }}</span
                    >
                  </p>
                  <p
                    style="
                      color: var(--ion-color-primary);
                      margin-right: 5px;
                      font-size: 19px;
                    "
                  >
                    Brand Wise Allocated Limit:
                    <span class="color-black"
                      >{{ allocatedCreditLimit | curFormat | async }}</span
                    >
                  </p>
                </div>
                <ion-card-content
                  class="example-container mat-elevation-z8 ion-no-padding"
                  style="height: 52vh !important; border-radius: 5px"
                >
                  <table #table style="width: 100%; border-radius: 20px">
                    <tr>
                      <th style="width: 40%">Brand Name</th>

                      <th style="width: 40%">Limit Amount</th>
                    </tr>
                    <tr *ngFor="let row of brandsCreditLimits">
                      <td style="width: 40%">{{row.brand}}</td>

                      <td style="width: 40%">
                        {{ row.limit | curFormat | async }}
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 40%">Others</td>

                      <td style="width: 40%">
                        {{ othersCreditLimit | curFormat | async }}
                      </td>
                    </tr>
                  </table>
                </ion-card-content>
              </div>
            </div>
          </ion-content>
          <!-- end -->
        </ng-template>
      </ion-modal>
      <ion-card-content class="ion-no-padding">
        <div class="example-container mat-elevation-z8" id="CustomersTable">
          <table mat-table class="full-width" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> SL </mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index ">
                {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="customer">
              <mat-header-cell *matHeaderCellDef>
                Customer name
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <!-- <a (click)="openVoucher(row)"> {{ row.customer_name }}</a> -->
                {{ row.customer_name }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="credit_limit">
              <mat-header-cell *matHeaderCellDef>
                Credit Limit
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.credit_limit | curFormat | async }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="remaining_credit">
              <mat-header-cell *matHeaderCellDef>
                Remaining Credit
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ getRemainingCredit(row) | curFormat | async }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="territory">
              <mat-header-cell *matHeaderCellDef>
                Territory name
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.territory }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="remaining_balance">
              <mat-header-cell style="text-align: center" *matHeaderCellDef>
                Current Outstanding
              </mat-header-cell>

              <mat-cell
                class="ion-text-center"
                mat-cell
                *matCellDef="let row; let i = index"
              >
                <ion-text *ngIf="row.remaining_balance">
                  {{ row.remaining_balance | curFormat | async }}
                </ion-text>
                <ion-button
                  *ngIf="!row.remaining_balance"
                  (click)="loadPrice(row, i)"
                  fill="clear"
                >
                  <ion-icon slot="icon-only" name="refresh"></ion-icon>
                </ion-button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="brand_wise_limit">
              <mat-header-cell class="align-center" *matHeaderCellDef>
                Brand Wise Credit Limit
              </mat-header-cell>
              <mat-cell
                class="align-center"
                (click)="openBrandModal(row,i)"
                *matCellDef="let row"
              >
                <button
                  style="
                    background-color: var(--ion-color-primary);
                    color: #ffffff;
                    border-radius: 5px;
                    padding: 12px;
                  "
                  class="align-center"
                >
                  <ion-icon name="eye-outline"></ion-icon> &nbsp;
                  <span class="sm_hide_text">Details</span>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            class="mat-paginator-sticky"
            (page)="getUpdate($event)"
            [length]="dataSource.length"
            [pageSizeOptions]="[30, 50, 100, 500]"
          >
          </mat-paginator>
        </mat-card-actions>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
