.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.home_menu{
  display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
}


@media  (min-width: 768px) and (max-width: 1024px) {
  .md_width{
  
    margin-left: 60px;
    text-align: center;
  }
  .sm-left{
   
   
    display: flex;
    justify-content:flex-start;
  }
 
}

@media (max-width: 767px) {
   
}