<ion-header >
  <ion-toolbar>
    <div
      class="home_menu"
    >
      <div
        class="sm-left"
      >
        <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title class="md-title title"> Home. </ion-title>
      </div>
      <div class="sm_flex_button">
        <ion-button  
          
          class="add_button tooltip"
          data-tooltip="Add Warrenty Claim"
          [routerLink]="['/warranty/add-warranty-claim']"
        >
          <ion-icon  name="add-circle-outline"></ion-icon> &nbsp; <span class="sm_hide_text">Add Warranty Claim</span>
        </ion-button>
        <ion-button
          data-tooltip="Serial Search"
          class="add_button tooltip"
          (click)="openSerialSearch()"
        >
          <ion-icon  name="barcode-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Serial Search</span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedIn && !spinner">
  <ion-card class="welcome-card">
    <ion-item *ngIf="picture">
      <ion-avatar>
        <img src="{{ picture }}" alt="" />
      </ion-avatar>
    </ion-item>
    <ion-card-header
      style="display: flex; justify-content: space-between; align-items: center ;"
    >
      <!-- <ion-card-subtitle>{{ email }}</ion-card-subtitle> -->
      <ion-card-title style="color: var(--ion-color-primary)">Welcome {{ name }}!</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-content *ngIf="!loggedIn && !spinner" class="card">
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      style="height: 100%"
    >
      <ion-icon name="log-in"></ion-icon>&nbsp;Please Login to continue
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      style="height: 100%"
    >
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>
</ion-content>
