<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title">Jobs</ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 22px;">
        <a
          data-tooltip="Add Sales Invoice"
          class="add_button tooltip"
          [routerLink]="['/sales/add-sales-invoice', 'add']"
          target="_new"
        >
          <ion-icon name="add-circle-outline"></ion-icon> &nbsp; <span class="sm_hide_text">Add Sales
            Invoice</span>
        </a>
        <a
          data-tooltip="Stock Availability"
          target="_new"
          color="red"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header style="padding: 0 15px;">
      <ion-row  class="align  ">
        <ion-col>
          <ion-card-title class="flex">
            <ion-text color="tertiary"> Background Jobs </ion-text>
            <!-- Filtar Button -->
            <button class="filter_button" (click)="backgroundJob()">
              <mat-icon id="jobFilter">sort</mat-icon>
              <mat-icon id="jobClose">close</mat-icon>
              Filter
            </button>
          </ion-card-title>
        </ion-col>
        <ion-col [style.display]="isVissible? 'block':'none'"  style="text-align: right" class="sm_left">
          <ion-button  data-tooltip="Search" class="tooltip" fill="outline">
            <ion-icon name="search-outline"></ion-icon> &nbsp; <span class="sm_hide_text">Search</span>
          </ion-button>
          <ion-button
         
            data-tooltip="Clean Jobs"
            class="tooltip"
            *ngIf="permissionState?.jobs?.update"
            color="warning"
            (click)="deleteEmptyJobs()"
            fill="outline"
            style="--ion-color-base: #f39b1f !important; "
          >
            <ion-icon name="close-outline"></ion-icon> &nbsp; <span class="sm_hide_text">Clean Jobs</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>

    <ion-card-content class="ion-no-padding">
     
      <div
        class="example-container mat-elevation-z8 "
        id="jobTable"
      >
      <ion-grid id="background_job" style="padding: 0 15px">
        <ion-row class="margin-b">
          <ion-col>
            <mat-form-field class="full-width">
              <mat-label>Parent</mat-label>
              <input
                matTooltip="If you copied from below there could be space character before your search"
                matInput
                placeholder="Parent Name"
                [(ngModel)]="parent"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select
                [(value)]="status"
                (selectionChange)="statusChange($event.value)"
              >
                <mat-option *ngFor="let status of jobStatus" [value]="status">
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
        <mat-table matSort [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="failCount">
            <mat-header-cell *matHeaderCellDef>Retry Count</mat-header-cell>
            <mat-cell *matCellDef="let element"
              >{{element.failCount || 0}}</mat-cell
            >
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let element"
              >{{element.data.status}}</mat-cell
            >
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="parent">
            <mat-header-cell *matHeaderCellDef>Parent</mat-header-cell>
            <mat-cell *matCellDef="let element"
              >{{element.data.parent}}</mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="serials">
            <mat-header-cell *matHeaderCellDef>Serials</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.data.type==='CREATE_PURCHASE_RECEIPT_JOB'?
              getPurchaseSerialValue(element.data.payload)
              :getSerialValue(element.data.payload) }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{getCamelCase(element.data.type)}}
            </mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns;"
            (click)="viewSingleJob(row)"
          ></mat-row>
        </mat-table>
      </div>

      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
