// similarly override any table column with name from matColumnDef.
.mat-column-failCount {
  flex: 0 0 5% !important;
  min-width: 50px !important;
}

.mat-column-parent {
  flex: 0 0 20% !important;
  min-width: 300px !important;
}

.mat-column-serial_no {
  flex: 0 0 20% !important;
  min-width: 300px !important;
}

.mat-table thead,
mat-header-row,
[mat-header-row] {
  background: var(--ion-color-primary);
}

#background_job {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

#jobClose {
  display: none;
}
