<ion-card>
  <ion-card-header style="padding: 0px 15px">
    <ion-row style="display: flex; align-items: center; margin-right: 5px">
      <ion-col class="ion-text-left">
        <ion-card-title>
          <ion-text color="tertiary"> Service Invoice </ion-text>
        </ion-card-title>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button
          data-tooltip="Sync Data"
          class="tooltip"
          color="tertiary"
          (click)="syncDataWithERP()"
          fill="outline"
        >
          <ion-icon name="refresh-outline"></ion-icon> &nbsp;
          <span class="sm_hide_text">Sync Data</span>
        </ion-button>

        <ion-button
          data-tooltip="Add"
          class="tooltip"
          *ngIf="permissionState.service_invoice.create"
          [routerLink]="['/warranty/service-invoice', 'add', invoiceUuid]"
        >
          <ion-icon name="add-circle-outline"></ion-icon> &nbsp;
          <span class="sm_hide_text">Add</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <div *ngIf="!permissionState.service_invoice.read">
      Requires permission to access document.
    </div>
    <div
      *ngIf="permissionState.service_invoice.read"
      class="example-container mat-elevation-z8"
      style="height: 68vh"
    >
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="invoice_no">
          <mat-header-cell *matHeaderCellDef>Invoice No</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="openERPServiceInvoice(row)">
            <ng-container *ngIf="row.invoice_no">
              {{ row.invoice_no }}
            </ng-container>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.status }}
            </ng-container>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.posting_date | date: 'mediumDate' }}
            </ng-container>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="customer_third_party">
          <mat-header-cell *matHeaderCellDef>Claim Type</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.customer_third_party }}
            </ng-container>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="outstanding_amount">
          <mat-header-cell *matHeaderCellDef
            >Outstanding Amount</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.outstanding_amount }}
            </ng-container>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="invoice_amount">
          <mat-header-cell *matHeaderCellDef>Invoice Amount</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container>
              {{ row.total }}
            </ng-container>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>{{
            total | curFormat | async
          }}</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="claim_no">
          <mat-header-cell *matHeaderCellDef>Claim No</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ warrantyObject?.claim_no }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="remarks">
          <mat-header-cell *matHeaderCellDef>Remarks</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.remarks }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="branch">
          <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.branch }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="created_by">
          <mat-header-cell *matHeaderCellDef>Created by</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.created_by }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="submitted_by">
          <mat-header-cell *matHeaderCellDef>Submitted by</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.created_by }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="submit">
          <mat-header-cell *matHeaderCellDef>Document Status</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            <ion-text
              [ngStyle]="{
                color: row.docstatus === 1 ? '#4d2500' : 'red'
              }"
            >
              {{
                row.docstatus === 0
                  ? 'Draft'
                  : row.docstatus === 1
                  ? 'Submitted'
                  : 'Canceled'
              }}
            </ion-text>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row
          class="footer"
          *matFooterRowDef="displayedColumns; sticky: true"
        ></mat-footer-row>
      </mat-table>
    </div>
    <mat-card-actions>
      <mat-paginator
        #paginator
        class="mat-paginator-sticky"
        (page)="getUpdate($event)"
        [length]="dataSource.length"
        [pageSizeOptions]="[30, 50, 100, 500]"
      >
      </mat-paginator>
    </mat-card-actions>
  </ion-card-content>
</ion-card>
