<div
  style="
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    padding: 20px;
  "
>
  <section *ngFor="let obj of keys">
    <mat-checkbox
      style="
        background-color: rgba(255, 255, 255, 0.8);

        font-size: 30px;
        text-align: left;
        width: 200px;
      "
      [(ngModel)]="data[obj]"
      [(checked)]="data[obj]"
      >{{ parsedTitle(obj) }}</mat-checkbox
    >
  </section>
</div>

<div style="padding: 25px" mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Download</button>
</div>
<!-- <section class="headers-section">
  <mat-grid-list [cols]="calCols()" rowHeight="30px">
    <mat-grid-tile *ngFor="let obj of keys">
      <div>
        <mat-checkbox [(ngModel)]="data[obj]" [(checked)]="data[obj]">
          {{ parsedTitle(obj) }}
        </mat-checkbox>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Download</button>
</div> -->
