<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 14px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> Sales </ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 22px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          data-tooltip="Stock Availability"
          target="_new"
          color="red"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <form [formGroup]="salesForm">
    <ion-card>
      <ion-card-header style="padding: 9px 15px">
        <ion-row class="align">
          <ion-col sizeMd="3" sizeLg="1.1" size="12">
            <ion-card-title class="sales_title">
              <ion-text color="tertiary"> Sales Invoices </ion-text>

              <!-- Filtar Button -->
              <!-- <button
                class="filter_button"
                (click)="filterHandler()"
                type="button"
              >
                <mat-icon id="filter" class="sals_filter_icon">sort</mat-icon>
                <mat-icon id="close">close</mat-icon>
                Filter
              </button> -->
            </ion-card-title>
          </ion-col>
          <ion-col sizeMd="3" sizeLg="1.5">
            <mat-form-field class="full-width">
              <mat-label>Invoice Number</mat-label>
              <input
                matInput
                placeholder="Invoice Number"
                formControlName="invoice_number"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>

          <ion-col sizeMd="3" sizeLg="1.5">
            <mat-form-field class="full-width">
              <mat-label>Customer</mat-label>
              <input
                matInput
                placeholder="Customer"
                [matAutocomplete]="Customer"
                formControlName="customer_name"
                (focusout)="validateInput(f.customer_name, filteredCustomerList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #Customer="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredCustomerList"
                  [value]="option.customer_name"
                >
                  {{ option.customer_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.customer_name.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.customer_name.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col sizeMd="3" sizeLg="1.5">
            <mat-form-field class="full-width">
              <mat-label>Branch</mat-label>
              <input
                matInput
                placeholder="Branch"
                [matAutocomplete]="territory"
                formControlName="branch"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #territory="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredTerritoryList"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-col>
          <ion-col sizeMd="3" sizeLg="1.5">
            <mat-form-field class="full-width">
              <mat-label>Sales Person</mat-label>
              <input
                matInput
                placeholder="Sales Person"
                formControlName="salesPerson"
                (focusout)="validateInput(f.salesPerson, filteredSalesPersonList)"
                [matAutocomplete]="salesPerson"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #salesPerson="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredSalesPersonList"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.salesPerson.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{ f.salesPerson.value }}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col sizeMd="3" sizeLg="1.5">
            <mat-form-field class="full-width">
              <mat-label> Status </mat-label>
              <mat-select
                formControlName="status"
                (selectionChange)="statusChange($event.value)"
              >
                <mat-option
                  *ngFor="let status of invoiceStatus"
                  [value]="status"
                >
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <!-- ISSUE -->
          <ion-col sizeMd="3" sizeLg="1.9">
            <mat-form-field appearance="fill" class="mat-input-wrapper">
              <mat-label> Enter a date range </mat-label>
              <mat-date-range-input
                [formGroup]="salesForm"
                [rangePicker]="picker"
              >
                <input
                  matStartDate
                  formControlName="start_date"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end_date"
                  placeholder="End date"
                  (dateChange)="setFilter()"
                />
              </mat-date-range-input>
              <!-- <mat-hint> MM/DD/YYYY – MM/DD/YYYY </mat-hint> -->
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-date-range-picker #picker> </mat-date-range-picker>
              <mat-error *ngIf="f.start_date.hasError('matStartDateInvalid')">
                Invalid start date
              </mat-error>
              <mat-error *ngIf="f.end_date.hasError('matEndDateInvalid')">
                Invalid end date
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col
            style="
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
            "
            sizeMd="3"
            sizeLg="1.5"
            class="md-between"
          >
            <ion-button
              data-tooltip="Search"
              class="tooltip"
              fill="outline"
              (click)="setFilter()"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
            <ion-button
              data-tooltip="Clear"
              class="tooltip"
              (click)="clearFilters()"
              fill="outline"
            >
              <ion-icon name="close-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Clear</span>
            </ion-button>
            <!-- <ion-button
              data-tooltip="Sync Data"
              class="tooltip"
              (click)="syncOutstandingAmount()"
              fill="outline"
              [disabled]="disableRefresh"
            >
              <ion-icon name="refresh-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Sync Data</span>
            </ion-button> -->
          </ion-col>
        </ion-row>
      </ion-card-header>

      <div class="loading-shade" *ngIf="dataSource.loading$ | async">
        <mat-progress-bar
          *ngIf="dataSource.loading$ | async"
          mode="indeterminate"
        ></mat-progress-bar>
      </div>

      <ion-card-content class="ion-no-padding" id="selesInvoicePage">
        <div class="example-container mat-elevation-z8">
          <table
            mat-table
            class="full-width"
            [dataSource]="dataSource"
            matSort
            (matSortChange)="setFilter($event)"
          >
            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> SL</mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index ">
                {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="customer_name">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header="customer_name"
              >
                Customer Name
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.customer_name || row.customer }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef class="right-aligned">
                Total
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell
                style="width: 150px"
                *matHeaderCellDef
                mat-sort-header="name"
              >
                Invoice No
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a [routerLink]="['/sales/view-sales-invoice', row.uuid]">
                  {{ row.name || 'Draft' }}
                </a>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="delivered_by">
              <mat-header-cell *matHeaderCellDef>
                Delivered By
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ (row.delivery_note_items && row.delivery_note_items.length &&
                row.delivery_note_items[0].deliveredBy) ?
                row.delivery_note_items[0].deliveredBy : "" }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="posting_date">
              <mat-header-cell mat-sort-header="created_on" *matHeaderCellDef>
                Invoice Date
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div>{{ getDate(row.posting_date) | date: 'd MMM, y' }}</div>
                <div style="color: #2d62ae">
                  {{ getTime(row.posting_time) }}
                </div>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="delivered_percent">
              <mat-header-cell *matHeaderCellDef> Progress </mat-header-cell>
              <mat-cell *matCellDef="let row" class="right-padding">
                <mat-progress-bar
                  [color]="row.delivered_percent === 100 ? 'primary' : 'warn'"
                  mode="determinate"
                  [value]="row.delivered_percent"
                >
                </mat-progress-bar>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="territory">
              <mat-header-cell *matHeaderCellDef mat-sort-header="territory">
                Branch
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.territory }} </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="remarks">
              <mat-header-cell *matHeaderCellDef mat-sort-header="remarks">
                Remarks
              </mat-header-cell>
              <mat-cell style="width: 250px" *matCellDef="let row">
                {{extractFirst40Letters( row.remarks) }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header="status">
                Status
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ion-text [ngStyle]="getStatusColor(row.status)">
                  {{ row.status }}
                </ion-text>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef mat-sort-header="total">
                Invoice Amount
              </mat-header-cell>
              <mat-cell style="text-align: center" *matCellDef="let row">
                {{ row.total | curFormat | async }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>
                {{ total | curFormat | async }}
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="timeStamp">
              <mat-header-cell *matHeaderCellDef mat-sort-header="timeStamp">
                Posting Date
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.timeStamp">
                  {{ getDate(row.timeStamp.created_on) | date: 'd MMM, y' }}
                  <div
                    style="color: #2d62ae"
                    *ngIf="row.timeStamp && row.timeStamp.created_on"
                  >
                    {{getPostingTime( row.timeStamp.created_on)}}
                  </div>
                  <div
                    style="color: #2d62ae"
                    *ngIf="!row.timeStamp || !row.timeStamp.created_on"
                  ></div>
                </ng-container>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            class="mat-paginator-sticky"
            (page)="getUpdate($event)"
            [length]="dataSource.length"
            [pageSizeOptions]="[30, 50, 100, 500]"
          >
          </mat-paginator>
        </mat-card-actions>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
