.sc-ion-card-md-h {
  min-height: 90vh;
}

.footer {
  font-weight: bold;
}

.date-filter-text {
  font-size: 0.7rem;
}

.right-padding {
  padding-right: 1em;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: green;
}

.right-aligned {
  text-align: end;
}

::ng-deep .mat-column-total > .mat-sort-header-container {
  justify-content: center;
}

::ng-deep .mat-column-due_amount > .mat-sort-header-container {
  justify-content: center;
}

.sales_title {
  display: flex;
  align-items: center;
}

.mat-form-field-flex.ng-tns-c164-9 .mat-form-field-infix.ng-tns-c164-9 {
  margin-top: 0 !important;
}

#sales_filter {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

#close {
  display: none;
}

div#salesInvoiceTable {
  &::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f39b1f !important;
    border: 1px solid transparent !important;
    background-clip: content-box !important;
  }
}
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 3px 0 10px !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .md-between {
    display: flex;
    justify-content: space-between;
  }
}
