
<ion-header>
  <ion-toolbar style="padding: 0px 35px;">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right:0px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="md-title title"> {{ warrantyDetail?.claim_no }} </ion-title>
      </div>
      <div class="" >
        <ion-button
          data-tooltip="Add Warranty Claim"
          
          class="add_button tooltip"
          [routerLink]="['/warranty/add-warranty-claim']"
        >
          <ion-icon  name="add-circle-outline"></ion-icon> &nbsp; <span class="sm_hide_text">Add Warranty Claim</span>
        </ion-button>
        <ion-button
          data-tooltip="Serial Search"
          class="add_button tooltip"
          (click)="openSerialSearch()"
        >
          <ion-icon  name="barcode-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Serial Search</span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="page-background">
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-segment
        [(ngModel)]="selectedSegment"
        scrollable="true"
        class="disable-scrollbars opacity"
      >
        <ion-segment-button value="0">
          <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button
          *ngIf="warrantyDetail?.claim_status !== 'Cancelled'"
          value="1"
        >
          <ion-label>Service Invoice</ion-label>
        </ion-segment-button>
        <ion-segment-button
          *ngIf="warrantyDetail?.claim_status !== 'Cancelled'"
          value="2"
        >
          <ion-label>Status</ion-label>
        </ion-segment-button>
        <ion-segment-button
          *ngIf="warrantyDetail?.claim_status !== 'Cancelled'"
          value="3"
        >
          <ion-label>Stock</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
  </ion-card>
  <div [ngSwitch]="selectedSegment">
    <claim-details *ngSwitchCase="0"> </claim-details>
    <service-invoices *ngSwitchCase="1" [warrantyObject]="warrantyDetail">
    </service-invoices>
    <status-history *ngSwitchCase="2" [warrantyObject]="warrantyDetail">
    </status-history>
    <stock-entry *ngSwitchCase="3" [warrantyObject]="warrantyDetail">
    </stock-entry>
  </div>
</ion-content>
