.sc-ion-card-md-h {
  min-height: 90vh;
}

.right-padding {
  padding-right: 1em;
}

.right-aligned {
  text-align: end;
}

.footer {
  font-weight: bold;
}

.date-filter-text {
  font-size: 0.7rem;
}

.date-filter-text {
  font-size: 0.7rem;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: green;
}

::ng-deep .mat-column-total > .mat-sort-header-container {
  justify-content: flex-end;
}

#purchase_invoice_filter {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 0.5s;
  &.active {
    height: auto;
  }
}

.mat-table thead,
// .mat-table tfoot,
mat-header-row,
[mat-header-row] {
  background-color: var(--ion-color-primary);
}

#PurchaseClose {
  display: none;
}
.total-header {
  text-align: left;
}
