<ion-header>
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title> Purchase </ion-title>
      </div>
      <div style="display: flex; gap: 5px; margin-right: 34px">
        <app-sales-invoice-btn></app-sales-invoice-btn>
        <a
          data-tooltip="Stock Availability"
          target="_new"
          color="red"
          class="add_button tooltip"
          [routerLink]="['/stock-availability']"
        >
          <ion-icon slot="start" name="information-circle-outline"> </ion-icon>
          &nbsp; <span class="sm_hide_text">Stock Availability</span>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <form [formGroup]="purchaseForm">
      <ion-card-header style="padding: 9px 17px">
        <ion-row class="align">
          <ion-col size="6" sizeLg="1.5">
            <ion-card-title class="flex">
              <ion-text color="tertiary"> Purchase Invoices </ion-text>

              <!-- Filtar Button -->
            </ion-card-title>
          </ion-col>

          <ion-col sizeLg="2.2">
            <mat-form-field class="full-width">
              <mat-label>Purchase Invoice Number</mat-label>
              <input
                matInput
                placeholder="Purchase Invoice Number"
                formControlName="invoice_number"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col sizeLg="2.2">
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select
                formControlName="status"
                (selectionChange)="setFilter($event.value)"
              >
                <mat-option
                  *ngFor="let status of invoiceStatus"
                  [value]="status"
                >
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <ion-col sizeMd="6" sizeLg="2.2">
            <mat-form-field class="full-width">
              <mat-label>Supplier</mat-label>
              <input
                matInput
                placeholder="Supplier"
                [matAutocomplete]="supplierField"
                formControlName="supplier"
                (focusout)="validateInput(f.supplier, filteredSupplierList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #supplierField="matAutocomplete"
                (optionSelected)="setFilter($event)"
              >
                <mat-option
                  *ngFor="let option of filteredSupplierList"
                  [value]="option.supplier_name"
                >
                  {{ option.supplier_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="f.supplier.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{f.supplier.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>

          <ion-col sizeLg="2.2" class="ion-text-center">
            <mat-form-field appearance="fill" class="mat-input-wrapper">
              <mat-label> Enter a date range </mat-label>
              <mat-date-range-input
                [formGroup]="purchaseForm"
                [rangePicker]="picker"
              >
                <input
                  matStartDate
                  formControlName="start_date"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end_date"
                  placeholder="End date"
                  (dateChange)="setFilter()"
                />
              </mat-date-range-input>
              <mat-hint> MM/DD/YYYY – MM/DD/YYYY </mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-date-range-picker #picker> </mat-date-range-picker>
              <mat-error *ngIf="f.start_date.hasError('matStartDateInvalid')">
                Invalid start date
              </mat-error>
              <mat-error *ngIf="f.end_date.hasError('matEndDateInvalid')">
                Invalid end date
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-button
              data-tooltip="Search"
              class="tooltip"
              fill="outline"
              (click)="setFilter()"
            >
              <ion-icon name="search-outline"></ion-icon> &nbsp;
              <span class="sm_hide_text">Search</span>
            </ion-button>
            <ion-button
              data-tooltip="Clear"
              class="tooltip"
              (click)="clearFilters()"
              fill="outline"
            >
              <ion-icon name="close-outline"></ion-icon> &nbsp;<span
                class="sm_hide_text"
                >Clear</span
              >
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <div class="loading-shade" *ngIf="dataSource.loading$ | async">
        <mat-progress-bar
          *ngIf="dataSource.loading$ | async"
          mode="indeterminate"
        ></mat-progress-bar>
      </div>
      <ion-card-content class="ion-no-padding">
        <div class="example-container mat-elevation-z8" id="purchaseTable">
          <ion-grid id="purchase_invoice_filter" style="padding: 0 15px">
          </ion-grid>
          <mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="setFilter($event)"
          >
            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> SL </mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index ">
                {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="purchase_invoice_number">
              <mat-header-cell *matHeaderCellDef mat-sort-header="name">
                Invoice No.
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a [routerLink]="['/purchase/view-purchase-invoice',row.uuid]">
                  {{ row.name }}
                </a>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header="status">
                Status
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ion-text
                  [ngStyle]="{
              color: ['Submitted','To Deliver'].includes(row.status) ? '#4d2500' : 
              ['Completed'].includes(row.status) ? 'green' :
              'red'
            }"
                >
                  {{row.status}}
                </ion-text>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="delivered_percent">
              <mat-header-cell *matHeaderCellDef> Progress </mat-header-cell>
              <mat-cell *matCellDef="let row" class="right-padding">
                <mat-progress-bar
                  [color]="row.delivered_percent === 100 ? 'primary' : 'warn'"
                  mode="determinate"
                  [value]="row.delivered_percent"
                ></mat-progress-bar>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header="created_on">
                Posting Date
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.posting_date | date: 'd MMM, y' }}
                <div style="color: #2d62ae">{{getTime(row.posting_time )}}</div>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="supplier">
              <mat-header-cell *matHeaderCellDef mat-sort-header="supplier">
                Supplier
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.supplier }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef mat-sort-header="total">
                Total
              </mat-header-cell>
              <mat-cell
                class="right-aligned right-padding"
                *matCellDef="let row"
              >
                {{ row.total | curFormat | async }}
              </mat-cell>
              <mat-footer-cell
                *matFooterCellDef
                class="right-aligned right-padding"
              >
                {{ total | curFormat | async }}
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="created_by">
              <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.created_by }} </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="delivered_by">
              <mat-header-cell *matHeaderCellDef>
                Delivered By
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ ( row.deliveredBy && row.deliveredBy[0] ) ?
                row.deliveredBy[0] : '' }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            class="mat-paginator-sticky"
            (page)="getUpdate($event)"
            [length]="dataSource.length"
            [pageSizeOptions]="[30, 50, 100, 500]"
          >
          </mat-paginator>
        </mat-card-actions>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
