.fab-position {
  position: absolute;
  top: 5px;
  right: -15px;
  height: 51px !important ;
  width: 51px !important;
}
.warranty-details-icon {
  border-radius: 0px;
}
// :host(.fab-list-side-start) {
//   margin-inline: 70px !important;
//   margin-top: 0px;
//   margin-bottom: 0px;
//   flex-direction: row-reverse;
// }
input,
mat-date-range-input,
select,
textarea {
  margin-top: 7px !important ;
  font-size: 16px !important;
}
